@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "montserratbold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "montserratsemibold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/montserrat-semibold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "montserratlight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype");
}

@font-face {
    font-family: 'montserratultra_light';
    src: url('../fonts/montserrat-ultralight-webfont.woff2') format('woff2'), url('../fonts/montserrat-ultralight-webfont.woff') format('woff'), url('../fonts/montserrat-ultralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "montserrathairline";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/montserrat-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-hairline-webfont.woff2") format("woff2"), url("../fonts/montserrat-hairline-webfont.woff") format("woff"), url("../fonts/montserrat-hairline-webfont.ttf") format("truetype");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('materialIcons-Regular'), url(../fonts/materialIcons-Regular.woff2) format('woff2'), url(../fonts/materialIcons-Regular.woff) format('woff'), url(../fonts/materialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
	
@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* font kit end */
/*################### common css start ###################*/
    
body {
    font-family: 'montserratregular';
    color: #8e989f;
}

ul, li {
    list-style: none;
}

a:focus,
img:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color:inherit;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label {
    margin-bottom: 0px !important;
    font-weight: normal !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.np{padding: 0px;}

.img-max{
    max-width: 100%;
}


/*Idea Gen Modal Css*/

.scrollbar {
	
	float: left;
	overflow-y: auto;
	
}

.force-overflow
{
	min-height: 450px;
}

#style-4::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;*/
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #dcdcdc;
	border: 2px solid #fafafa;
}



#ideaGen button.close.btn-close { position: absolute; top: -5px; right: -26px; opacity: 0.9; z-index: 9;}
#ideaGen button.close.btn-close i.material-icons{font-size: 24px;color: #fff;text-shadow: none;}
#ideaGen .modal-dialog-idea {width: 1024px;margin: 50px auto;}
#ideaGen button.close.btn-close:hover {opacity: 1;}
#ideaGen .modal-header{ background: #fff; border-bottom: none;}
#ideaGen .modal-body {position: relative; padding: 0 }
#ideaGen .modal-title{ font-size: 14px; text-transform: uppercase; color: #fb5f66; position: relative; padding-left: 25px;}
#ideaGen .modal-title i{ position: absolute;left:0; top:0px; font-size:18px; }

#ideaGen .modal-content {border-radius: 0px; float: left; width: 100%;height: 100%; box-shadow: none; border: none;background: transparent;  }
#ideaGen .content-area{width:100%; float: left; background:#fff; position:relative; overflow-y: auto;}
#ideaGen .content-area .inner-section{ float: left; width:96%; margin:0 2%; background: #fafafa; min-height: 250px; margin-bottom: 2%; padding: 20px; padding-bottom:0;}
#ideaGen .content-area .inner-section .left-section{ float: left; width: 33%; }
#ideaGen .content-area .inner-section .left-section .img-outer{ float: left; box-shadow: 0 4px 5px 1px rgba(0,0,0,.2); width: 300px; }
#ideaGen .content-area .inner-section .left-section .img-outer img{ float: left;  width:100%;}
#ideaGen .content-area .inner-section .left-section .text-outer{ float: left; width: 100%; padding-right: 10px; margin-top: 15px; margin-bottom: 5px; }
#ideaGen .content-area .inner-section .left-section .text-outer h5{ float: left;  font-size: 14px; text-transform: uppercase; color: #fb5f66; }
#ideaGen .content-area .inner-section .left-section .text-outer .disc-text{ float: left; font-size: 12px; line-height: 20px;}

#ideaGen .content-area .inner-section .right-section{ float: left; width: 67%; max-height: 450px; overflow-y: auto; }
#ideaGen .content-area .inner-section .right-section .img-outer-right{ float: left; width: 170px; height:170px;  box-shadow: 0 4px 5px 1px rgba(0,0,0,.1); margin: 30px; margin-right: 0; margin-top: 0; border:2px solid #fff; transition: border-color 0.5s ease; position: relative;}
#ideaGen .content-area .inner-section .right-section .img-outer-right:hover{ border-color:  #fb5f66;}
#ideaGen .content-area .inner-section .right-section .img-outer-right .mid-text{position: absolute;padding: 10px;text-align: center;top: 27%; font-size: 14px; text-transform: uppercase;}
#ideaGen .content-area .inner-section .right-section .img-outer-right img{ float: left;  width: 100%; }




#ideaGen .modal-footer{ background: #fb5f66; float: left; width:80px; border: none; width:100%; min-height: 50px;}
 

 
 
 

	
	

