@media (min-width: 0px) and (max-width: 767px){
    .t1-heading{
        /*font-size: 24px;*/
        font-size: 5.4vmin;
        margin-bottom: 20px;
    }
    .t1-subheading{
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .t1-logo{
        width: 130px;
        float: none;
        margin: 0 auto;
    }
    .t1-logo a{
        float: none;
    }
    .t1-landing{
        width: 100% !important;
    }
    .t1-question{
        width: 100% !important;
    }
    .t1-result{
        width: 100% !important;
    }
    .t1-landing-top {
        position: fixed;
        top: 10px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .landing-btn{
        font-family: montserratregular;
        font-size: 14px;
        padding: 10px 40px;
    }
    .t1-landing-leadform{
        width: 100%;
    }
    .t1-landing-leadform .t1-leadform-field input{
        border: 1px solid rgba(255,255,255,0.4);
        font-size: 13px;
    }
    .t1-landing-bot{
        position: absolute;
        bottom: 10px;
        right: inherit;
        width: 100%;
        float: left;
        text-align: center;
    }
    .t1-footerlogo{
        float: none;
    }
    .t1-footerlogo p{
        font-size: 9px;
        margin-top: 0px;
        display: inline;
        float: none;
    }
    .t1-footerlogo img{
        max-width: 80px;
        display: inline;
        vertical-align: middle;
    }
    

    .t1-question-mid {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .t1-question-slider{
        width: 85%;
    }
    .t1-slider{
        padding-bottom:80px;
    }
    .t1-slider-question{
        padding: 20px;
        width: 89%;
    }
    .t1-question-resultheading{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .t1-question-liveresult{
        font-size: 26px;
        margin-bottom: 5px;
    }
    .t1-slider-pagination{
        top: -22px;
    }
    .pic-selector{
        text-align: center;
    }
    .pic-selector label.xs-img-hover .text-overlay span{
        font-size: 9px;
    }
    .pic-selector input[type="radio"]:checked + label.xs-img-hover::after{
        font-size: 26px;
    }
    .pic-selector input[type="checkbox"]:checked + label.xs-img-hover::after {
        font-size: 26px;
    }
    .t1-ques-component .pic-selector input{
        padding: 0px;
    }
    .t1-slider-nav a.prev {
        left: 25%;
        bottom: 20px !important;
        top: inherit;
    }
    .t1-slider-nav a.next {
        right: 25%;
        bottom: 20px;
        top: inherit;
    }
    .t1-slider-nav a.go {
        right: 25%;
        bottom: 20px;
        top: inherit;
    }
    .t1-ques-inner{
        margin-bottom: 25px;
    }
    .t1-ques-head{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .t1-ques-component input{
        font-size: 14px;
        padding: 12px;
        width: 91%;
    }

    .t1-result-top{
        width: 94%;
        margin-left: 3%;
    }
    .t1-result-topheading{
        font-size: 18px;
    }
    .t1-result-topheading{
        width: 100%;
        text-align: center;
    }
    .t1-result-inner{
        padding: 5%;
        width: 90%;
    }
    .t1-result-full-section{
        text-align: center;
    }
    .t1-result-full-container{
        text-align: center;
        width: 100%;
    }
    .t1-result-small-section{
        text-align: center;
        margin-right: 0;
        margin-top: 30px;
        width: 100%;
    }
    .t1-result-small-container{
        text-align: center;
    }
    .t1-result-leadform-heading{
        margin-top: 30px;
        text-align: center;
    }
    .t1-result-leadform-inner{
        width: 100%;
        margin-bottom: 10px;
    }
    .t1-leadform-field{
        margin-bottom: 30px;
    }
    .t1-result-leadform-inner input{
        font-size: 14px;
    }
    .t1-leadform-btnoutr{
        text-align: center;
    }
    .t1-leadform-btn{
        padding: 15px;
        font-size: 13px;
    }
    .t1-result-disclaimer{
        width: 100%;
        text-align: center;
    }
    .t1-social-links{
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .t1-social-links li{
        display: inline;
        float: none;
    }
    .t1-social-links li p{
        display: inline;
        float: none;
        font-family: montserratregular;
        font-size: 14px;
    }
    .t1-social-links li a{
        display: inline;
        float: none;
    }

}
@media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    .t1-landing-leadform .t1-leadform-field{
        width: 100%;
        margin-bottom: 10px;
    }
    .xs-img-hover{
        width: 15vw;
        height: 15vw;
    }
    
}
@media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .t1-landing-mid{
        width: 90%;
    }
    .t1-landing-leadform .t1-leadform-field {
        display: inline-block;
        width: 40%;
        float: none;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .xs-img-hover{
        width: 15vw;
        height: 15vw;
    }
}

@media (min-width: 0px) and (max-width: 319px){
    .t1-heading{
        margin-bottom: 2%;
    }
    .t1-subheading {
        font-size: 11px;
        margin-bottom: 3%;
        line-height: normal;
    }
    .t1-landing-leadform .t1-leadform-field input{
        padding: 7px 5px;
        width: 100%;
        font-size: 11px;
    }
    .landing-btn {
        font-family: montserratregular;
        font-size: 9px;
        padding: 7px 30px;
    }
}
@media (min-width: 0px) and (max-width: 319px) and (orientation: landscape){
    .t1-landing {
        height: 100vh;
        position: relative;
    }
    .t1-landing-top{
        position: relative;
        top: -10px;
    }
    .t1-logo a img{
        max-width: 70%;
    }
    
}
@media (min-width: 0px) and (max-width: 767px) and (orientation: landscape){
    
    .t1-heading{
        margin-bottom: 2%;
    }
    .t1-subheading {
        font-size: 11px;
        margin-bottom: 3%;
        line-height: normal;
    }
    .t1-landing-leadform .t1-leadform-field input{
        padding: 7px 5px;
        width: 100%;
        font-size: 11px;
    }
    .landing-btn {
        font-family: montserratregular;
        font-size: 9px;
        padding: 7px 30px;
    }
    .t1-landing-top{
        position: relative;
        top: -10px;
    }
    .t1-logo a img{
        max-width: 90%;
    }
    
}
@media (min-width: 0px) and (max-width: 420px) and (orientation: portrait){
    
    .t1-heading{
        margin-bottom: 2%;
    }
    .t1-subheading {
        font-size: 11px;
        margin-bottom: 3%;
        line-height: normal;
    }
    .landing-btn {
        font-family: montserratregular;
        font-size: 9px;
        padding: 7px 30px;
    }
    .t1-logo a img{
        max-width: 70%;
    }
    .pic-selector label.xs-img-hover .text-overlay span{
        display: none;
    }
    
}




@media (min-width: 768px) and (max-width: 1023px) {
    .t1-result-small-section{
        margin-top: 40px;
        margin-right: 40px;
    }
    
    .t1-question-slider {
        width: 100%;
    }
    .t1-slider-question {
        padding: 30px;
    }
    .t1-question-liveresult{
        margin-bottom: 5px;
    }
    .t1-slider-pagination {
        top: -25px;
    }
    .t1-slider-nav a.prev {
        left: -75px;
    }
    .t1-slider-nav a.next {
        right: -75px;
    }
    .t1-slider-nav a.go {
        right: -75px;
    }
    .t1-result-leadform-inner{
        width: 70%;
    }


}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .t1-landing-leadform .t1-leadform-field {
        width: 100%;
        margin-bottom: 10px;
    }
    .xs-img-hover {
        width: 15vw;
        height: 15vw;
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape){
    .t1-logo a img {
        max-width: 70%;
        max-height: 45%;
    }
    .t1-heading {
        font-size: 5.4vmin;
        margin-bottom: 10px;
    }
    .t1-subheading {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .t1-landing-leadform .t1-leadform-field{
        margin-left: 10px;
        margin-right: 10px;
    }
    .t1-landing-leadform .t1-leadform-field input {
        border: 2px solid rgba(255,255,255,0.4);
        font-size: 13px;
    }
    .landing-btn {
        font-family: montserratregular;
        font-size: 14px;
        padding: 10px 40px;
    }
    .xs-img-hover {
        width: 15vw;
        height: 15vw;
    }
}


@media (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape){
    .t1-logo a img {
        max-width: 70%;
        max-height: 45%;
    }
    .t1-heading {
        font-size: 36px;
        margin-bottom: 25px;
    }
    .t1-subheading {
        font-size: 16px;
        margin-bottom: 25px;
        line-height: 20px;
    }
    .t1-landing-leadform .t1-leadform-field input {
        border: 2px solid rgba(255,255,255,0.4);
        font-size: 13px;
    }
    .landing-btn {
        font-size: 14px;
        padding: 10px 40px;
    }
    .xs-img-hover{
        width: 10vw;
        height: 10vw;
    }
}

@media (min-width: 1680px) and (max-width: 1920px){
    .t1-heading{
        font-size: 48px;
    }
    .t1-subheading{
        font-size: 26px;
    }
    .t1-landing-leadform .t1-leadform-field{
        margin-bottom: 40px;
    }
}