/*################### Feature Page responsive css start ###################*/
@media (min-width: 320px) and (max-width:768px) {
	#feature .rs-hide{
		display:none !important;
	}
	#feature .rs-show{
		display:block !important;
	}
	.footer-img2 {
		padding-left: 0px;
		min-height: 155px;
	}
	#feature .mobile-container{
		padding:0px;
	}
	#feature .section-f2-left .section-f2-new span{
	    margin-top: 10px;
    	margin-bottom: 15px;
	}
	#feature .section-f2-left .section-f2-new span i{
		margin-right: 10px;
	}
	#feature .section-9-left {
		padding-right: 20px;
		padding-left: 20px;
	}
	#feature .sec-help .container.container-center {
		margin: 0 auto;
		display: block;
		margin-top: 0;
		margin-bottom: 40px;
	}
	#feature .section-6.sec-integration h1{
		font-size:22px;
	}
	#feature .section-6.sec-integration p{
		padding-bottom:30px;
		padding-top:20px;
		font-size:16px;
	}
	#feature .section-7{
		margin-top:50px;
	}
	#feature .section-f1 {
		margin-top: 30px;
	}
	#feature .section-f1-left {
		padding-right: 20px;
		padding-left: 20px;
	}
	#feature .section-f1 .section-f1-left span span {
		width: 85%;
	    text-align: left;
	    float: right;
	    text-transform: uppercase;
	    font-size: 14px;
	}
	#feature .section-f1-right {
		padding-right: 0px;
		padding-left: 0px;
	}
	#feature .section-f1 .slider-sa {
		min-height: 170px;
		padding:0 20px;
	}
	#feature .section-f2-left {
		padding: 0px 20px;
	}
	#feature .section-f2-right {
		margin-top: 10px;
		padding: 0 20px;
	}
	#feature .secf2-2 {
		position: absolute;
		left: 46%;
		top: 0;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 65%;
		height: auto;
	}
	#feature .section-f2 {
		margin-top: 0px;
		margin-bottom: 40px;
	}
	#feature .section-f2 .section-f2-left span span{
		width: 85%;
	    text-align: left;
	    float: right;
	    text-transform: uppercase;
	    font-size: 14px;
	}
	#feature .section-f2-left span{
	    margin-bottom: 15px;
    	margin-top: 10px;
	}
	#feature .mb{margin-bottom: 40px;}
	#feature .section-9-right {
		padding-right: 0px;
		padding-left: 0px;
	}
	#feature .section-7 .slider-sa{
		padding-left:0px;
	}
	#feature .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
		left: 0px;
		width: 100%;
		margin-top: 10px;
	}
	#feature .swiper-pagination-clickable .swiper-pagination-bullet {
		margin: 0 5px;
	}
	#feature .swiper-slide{
		margin-top:10px;
	}
	#feature .section-7 .slider-sa{
		min-height:250px;
	}
	#feature .section-7 .section-9-left .btn-exploreTemp {
		background: #fff;
		border: 1px solid #fb6c73;
		color: #fb6c73;
		margin-top: 60px !important;
		margin: 0 auto;
		display: block;
		float:none;
	}
	#feature .section-4 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#feature .section-4-left {
		padding: 0px 20px;
	}
	#feature .section-4-right-f {
		margin-top: 20px;
	}
	#feature .sec4-2 {
		position: absolute;
		left: 46%;
		top: 0;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 70%;
		height: auto;
	}
	#feature .img-pos{
		margin-top:0px;
		margin-left: -15px;
		width:100%;
	}
	#feature .section-15-left {
		padding: 0 20px;
		margin-top:20px;
	}
	#feature .section-15-right{
		margin-top:10px;
		padding: 0 20px;
	}
	#feature .section-15 {
		margin-top: 40px;
		margin-bottom: 50px;
	}
	#feature .section-15-left span i{
		font-size:40px;
	}
	#feature .section-15-left span{
		margin-bottom:10px;
	}
	#feature .sec15-2 {
		position: absolute;
		left: 0%;
		top: 0%;
		width: 50%;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
	}
	#feature .section-15 .section-15-left h4{
		font-size:22px;
	}
	#feature .section-15 .section-15-left span span{
		font-size:16px;
	}
	#feature .section-17-left span i{
		font-size:40px;
	}
	#feature .section-17-left span{
		margin-bottom:10px;
	}
	#feature .section-17 .section-17-left h4{
		font-size:22px;
	}
	#feature .section-17 .section-17-left span span{
		font-size:16px;
		width: 100%;
	}
	#feature .section-17-left {
		padding: 0 20px;
		margin-top:20px;
		margin-bottom:10px;
	}
	#feature .section-17-right{
		margin-top:10px;
		padding: 0 20px;
	}
	#feature .sec17-2-1 {
		left: 0;
	}
	#feature .sec17-2 {
		position: absolute;
		left: 2%;
		top: 59%;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 70%;
	}
	#feature .section.section-5 span{
		padding:0px 5px;
		font-size:24px;
	}
	#feature .sec-5-text{
		padding:0 20px;
	}
	#feature .section.section-5 p{
		margin-left: 0;
		width:100%;
		margin-bottom:20px;
		font-size: 16px;
		margin-top: 10px;
	}
	#feature .img-style{
		margin-bottom: 50px;
		margin-top: 0;
		width:100%;
	}
	#feature .section-f3-left .section-f3-new span i{
		margin-right: 10px;
	}

	#feature .section.section-10 i.material-icons{
		font-size:48px;
	}
	#feature .section.section-5{
		margin-top:40px;
		margin-bottom:0px;
	}
	#feature .section-10{
		margin-top:0px;
		margin-bottom:30px;
	}
	#feature .sec-style{
		margin-top:0px;
	}
	#feature .sec-4-style{
		margin-top:50px;
	}
	#feature .section-6{
		margin-bottom:50px;
	}
	#feature .sec-integration {
		margin-top: 0px;
	}
	#feature .container.container-center h1{
		padding:0px;
		text-align:center;
		font-size:22px;
	}
	#feature .section.section-10 span{
		font-size:14px;
	}
	#feature .section-7 .section-9-left span span{
		width:80%;
	}
	#feature .section-4-left .section-4-new span span{
	    width: 85%;
    	font-size: 14px;
	}
	#feature .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #fff;
	}
	#feature .navbar-default .navbar-toggle .icon-bar {
		background-color: #fb5f66;
	}
	#feature .navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-brand {
		margin-left: 15px !important;
	}
	.custom-navbar.navbar-default {
		padding-right: 0px;
	}
	#feature .section-f3-left {
		padding: 0px 20px;
	}
	#feature .section-f3-left .section-f3-new span span {
		width: 85%;
    	font-size: 14px;
	}
	#feature .secf3-2 {
		position: absolute;
		left: 46%;
		top: 0;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 70%;
		height: auto;
	}
	#feature .section-f4 {
		margin-top: 30px;
		margin-bottom: 40px;
	}
	#feature .section-4-left span i {
	    margin-top: 0;
	    margin-right: 10px !important;
	}
	#feature .sec-f4-style {
		margin-top: 50px;
	}
	#feature .section-4-left h4{
		margin: 10px 0px;
	}
	#feature .section-f4-left .section-f4-new span span {
		width: 80%;
	}
	#feature .section-f4-left {
		padding: 0px 20px;
	}
	#feature .section-f1-left h4{
		line-height:normal;
		font-size:22px;
	}
	#feature .secf1-test {
		margin-bottom: 0px;
		margin-top: 0px;
	}
	#feature .section-f1-left span{
	    margin-bottom: 15px;
    	margin-top: 10px;
	}
	#feature .section-f2 .section-f2-left h4{
		line-height:normal;
		font-size:22px;
	}
	#feature .section-f1-left span i{
		margin-right: 10px;
	}
	#feature .secf2-test {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	#feature .section-f3 .section-f3-left h4{
		font-size:22px;
		line-height:normal;
	}
	#feature .secf3-test{
		margin:10px 0px;
	}
	#feature .section-f3-left .section-f3-new span{
		margin-bottom:10px;
	}
	#feature .section-f3-left span{
		 margin-bottom: 15px;
    	margin-top: 10px;
    }
	#feature .section-f3-right{
		padding:0 20px;
		margin-top:10px;
	}
	#feature .section-f4 .section-f4-left h4{
		font-size:22px;
	}
	#feature .secf4-test{
		margin:10px 0px;
	}
	#feature .section-f4-left .section-f4-new span{
	    margin-bottom: 15px;
    	margin-top: 10px;
	}
	#feature .section-f4-left .section-f4-new span i{
		margin-right: 10px;
	}
	#feature .section-f4 .section-f4-left span span{
	    width: 85%;
   		font-size: 14px;
	}
	#feature .section-f4-left span{
		 margin-bottom: 15px;
    	margin-top: 10px;

	}
	#feature .section-f4-right{
		padding:0 20px;
		margin-top:10px;
	}
	#feature .section-4 .section-4-left h4{
		font-size:22px;
		line-height:normal;
	}
	#feature .sec9-test{
		margin:10px 0px;
	}
	/*#feature .section-4-left .section-4-new span{
		margin:10px 0px;
	}*/
	#feature .section-4-new span{
		margin-bottom: 15px;
	    margin-top: 10px;
	}
	#feature .section-4-left span{
		margin-bottom: 15px;
    	margin-top: 10px;
	}
	#feature .section-4-img{
		padding:0 20px;
		margin-top:30px;
	}
	#feature .section-4{
		margin-top:0px;
	}
	#feature .span-style{
		width: 100% !important;
		font-size:16px !important;
	}
	#feature .feature-heading-1 h3{
		font-size:22px; line-height: 32px;
	}
	#feature .feature-heading-1 h4 { font-size: 16px;}

	/* start: feature page responsive by arti */
		#feature .section-f4 img{margin-bottom: 30px;}
		#feature .sec-graphsCharts .section-f1-left {
			padding-right: 20px;
			padding-left: 20px;
		}
		#feature .sec-graphsCharts i.material-icons.icon-style {font-size: 40px;}
		#feature .sec-graphsCharts .section-f1-left span.subheading {margin-bottom: 15px;}
		#feature .sec-graphsCharts .section-f1-right { margin-top: 10px;}
		#feature .section.section-5 h4 {font-size: 22px;}
		#feature .section.section-10 h4 {font-size: 16px;}

	/* end: feature page responsive by arti */



}
@media (min-width:440px) and (max-width:768px){
	#feature .span-style{
		width:100% !important;
		font-size:16px !important;
	}
	#feature .sec17-2 {
		position: absolute;
		left: 0%;
		top: 59%;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 70%;
	}
	#feature .section-f1 .slider-sa {
		min-height: 270px;
	}
	#feature .sec4-2{
		width:58%;
	}
	#feature .secf2-2 {
		width: 60%;
	}
	#feature .section-15{
		margin-top:70px;
	}
	#feature .section-17{
		margin-top:80px;
	}
	#feature .section-4 {
		margin-top: 30px;
	}
	#feature .sec15-2 {
		left: -5%;
		width: 43%;
	}
	#feature .sec17-2{
		top:49%;
	}
	#feature .secf3-2 {
		width: 58%;
	}
	#feature .section-f2 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#feature .sec15-2 {
		position: absolute;
		left: -7%;
		top: 6%;
		left: 0%;
		top: 0%;
		width: 50%;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
	}
	#feature .feature-heading-1 h3{
		font-size: 20px;
		line-height: normal;
	}
	.footer-img2 {
		padding-left: 0px;
		min-height: 165px;
	}
}
@media (min-width: 640px) and (max-width: 768px){
	#feature .section-15 {
		margin-top: 90px;
	}
	#feature .section-17 {
		margin-top: 110px;
	}
	#feature .section.section-5 {
		margin-top: 50px;
	}
}
@media (min-width:768px) and (max-width:768px){
	#feature .sec4-2 {
		width: 52%;
		left: 49%;
	}
	#feature .section-17 {
		margin-top: 0;
	}
	.w100{
		width:100%;
	}
	#feature .sec15-2 {
		left: -2%;
		width: 35%;
	}
	#feature .section-6.sec-integration p {
		padding-bottom: 60px;
		padding-top: 20px;
	}
	/*.custom-navbar.navbar-default {
		margin-bottom: 0px;
	}
	
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: -30px;
	}
	.navbar-right {
		margin-left: 0px;
		margin-top: 10px;
	}*/
	/*.custom-navbar.navbar-default .navbar-nav > li {
		margin-left: 0;
		margin-right:1px;
	}*/
	/*.custom-navbar.navbar-default .navbar-nav > li > a {
		font-size: 12px;
		color: #62696d;
		text-transform: uppercase;
		padding:7px;
	}*/
}
@media (min-width:769px) and (max-width:990px){
	#feature .rs-hide{
		display:none !important;
	}
	#feature .rs-show{
		display:block !important;
	}
	.footer-img2 {
		padding-left: 0px;
		min-height: 165px;
	}
	#feature .mobile-container{
		padding:0px;
	}
	#feature .section-9-left {
		padding-right: 20px;
		padding-left: 20px;
	}
	#feature .sec-help .container.container-center {
		margin: 0 auto;
		display: block;
		margin-top: 0;
		margin-bottom: 40px;
	}
	#feature .section-6.sec-integration h1{
		font-size:24px;
		margin-top:50px;
	}
	#feature .section-6.sec-integration p{
		padding-bottom:30px;
		padding-top:20px;
		font-size:16px;
	}
	#feature .section-7{
		margin-top:50px;
	}
	#feature .section-f1 {
		margin-top: 40px;
	}
	#feature .section-f1-left {
		padding-right: 20px;
		padding-left: 20px;
	}
	#feature .section-f1 .section-f1-left span span {
		width: 80%;
		font-size: 16px;
	}
	#feature .section-f1-right {
		padding-right: 0px;
		padding-left: 0px;
	}
	#feature .section-f1 .slider-sa {
		min-height: 480px;
		padding:0 20px;
	}
	#feature .section-f2-left {
		padding: 0px 20px;
	}
	#feature .section-f2-right {
		margin-top: 30px;
		padding: 0 20px;
	}
	#feature .secf2-2 {
		position: absolute;
		left: 46%;
		top: 0;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 52%;
		height: auto;
	}
	#feature .section-f2 {
		margin-top: 0px;
		margin-bottom: 30px;
	}
	#feature .section-f2 .section-f2-left span span{
		width:83%;
		font-size:16px;
	}
	#feature .section-f2-left span{
		margin-bottom:10px;
	}
	#feature .section-9-right {
		padding-right: 0px;
		padding-left: 0px;
	}
	#feature .section-7 .slider-sa{
		padding-left:0px;
	}
	#feature .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
		left: 0px;
		width: 100%;
		margin-top: 10px;
	}
	#feature .swiper-pagination-clickable .swiper-pagination-bullet {
		margin: 0 5px;
	}
	#feature .swiper-slide{
		margin-top:30px;
	}
	#feature .section-7 .slider-sa{
		min-height:250px;
	}
	#feature .section-7 .section-9-left .btn-exploreTemp {
		background: #fff;
		border: 1px solid #fb6c73;
		color: #fb6c73;
		margin-top: 60px !important;
		margin: 0 auto;
		display: block;
		float:none;
	}
	#feature .section-4 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#feature .section-4-left {
		padding: 0px 20px;
	}
	#feature .section-4-right-f {
		margin-top: 20px;
	}
	#feature .sec4-2 {
		position: absolute;
		left: 46%;
		top: 0;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 52%;
		height: auto;
	}
	#feature .img-pos{
		margin-top:0px;
		margin-left: 0px;
		width:100%;
	}
	#feature .section-15-left {
		padding: 0 20px;
		margin-top:20px;
	}
	#feature .section-15-right{
		margin-top:30px;
		padding: 0 20px;
	}
	#feature .section-15 {
		margin-top: 40px;
		margin-bottom: 50px;
	}
	#feature .section-15-left span i{
		font-size:40px;
	}
	#feature .section-15-left span{
		margin-bottom:10px;
	}
	#feature .sec15-2 {
		position: absolute;
		left: 0%;
		top: 0%;
		width: 40%;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
	}
	#feature .section-15 .section-15-left h4{
		font-size:24px;
	}
	#feature .section-15 .section-15-left span span{
		font-size:16px;
	}
	#feature .section-17-left span i{
		font-size:40px;
	}
	#feature .section-17-left span{
		margin-bottom:10px;
	}
	#feature .section-17 .section-17-left h4{
		font-size:24px;
	}
	#feature .section-17 .section-17-left span span{
		font-size:16px;
	}
	#feature .section-17-left {
		padding: 0 20px;
		margin-top:20px;
		margin-bottom:10px;
	}
	#feature .section-17-right{
		margin-top:30px;
		padding: 0 20px;
	}
	#feature .sec17-2-1 {
		left: 0;
	}
	#feature .sec17-2 {
		position: absolute;
		left: -20px;
		top: 59%;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 55%;
	}
	#feature .section.section-5 span{
		padding:0px 5px;
		font-size:24px;
	}
	#feature .sec-5-text{
		padding:0 20px;
	}
	#feature .section.section-5 p{
		margin-left: 0;
		width:100%;
		margin-bottom:40px;
		font-size: 16px;
		margin-top: 10px;
	}
	#feature .img-style{
		margin-bottom: 50px;
		margin-top: 0;
		width:100%;
	}
	#feature .section.section-10 i.material-icons{
		font-size:48px;
	}
	#feature .section.section-5{
		margin-top:40px;
		margin-bottom:0px;
	}
	#feature .section-10{
		margin-top:30px;
		margin-bottom:50px;
	}
	#feature .sec-style{
		margin-top:0px;
	}
	#feature .sec-4-style{
		margin-top:50px;
	}
	#feature .section-6{
		margin-bottom:50px;
	}
	#feature .sec-integration {
		margin-top: 70px;
	}
	#feature .container.container-center h1{
		padding:0px;
		text-align:center;
		font-size:24px;
	}
	#feature .section.section-10 span{
		font-size:14px;
	}
	#feature .section-7 .section-9-left span span{
		width:80%;
	}
	#feature .section-4-left .section-4-new span span{
		width:80%;
		font-size:16px;
	}
	#feature .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #fff;
	}
	#feature .navbar-default .navbar-toggle .icon-bar {
		background-color: #fb5f66;
	}
	#feature .navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-brand {
		margin-left: 15px !important;
	}
	.custom-navbar.navbar-default {
		padding-right: 0px;
	}
	#feature .section-4 .section-4-left span span{
		font-size:16px;
	}
	#feature .section-f3-left {
		padding: 0px 20px;
	}
	#feature .section-f3-left .section-f3-new span span {
		width: 80%;
	}
	#feature .secf3-2 {
		position: absolute;
		left: 46%;
		top: 0;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		width: 52%;
		height: auto;
	}
	#feature .section-f4 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#feature .sec-f4-style {
		margin-top: 50px;
	}
	#feature .section-f4-left .section-f4-new span span {
		width: 80%;
	}
	#feature .section-f4-left {
		padding: 0px 20px;
	}
	#feature .section-f1-left h4{
		line-height:normal;
		font-size:24px;
	}
	#feature .secf1-test {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	#feature .section-f1-left span{
		margin-bottom:10px;
	}
	#feature .section-f2 .section-f2-left h4{
		line-height:normal;
		font-size:24px;
		margin-top:30px;
	}
	#feature .secf2-test {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	#feature .section-f3 .section-f3-left h4{
		font-size:24px;
		line-height:normal;
	}
	#feature .secf3-test{
		margin:10px 0px;
	}
	#feature .section-f3 .section-f3-left span span{
		font-size:16px;
	}
	#feature .section-f3-left .section-f3-new span{
		margin-bottom:10px;
	}
	#feature .section-f3-left span{
		margin-bottom:10px;
	}
	#feature .section-f3-right{
		padding:0 20px;
		margin-top:30px;
	}
	#feature .section-f4 .section-f4-left h4{
		font-size:24px;
	}
	#feature .secf4-test{
		margin:10px 0px;
	}
	#feature .section-f4-left .section-f4-new span{
		margin-bottom:10px;
	}
	#feature .section-f4 .section-f4-left span span{
		font-size:16px;
	}
	#feature .section-f4-left span{
		margin-bottom:10px;
	}
	#feature .section-f4-right{
		padding:0 20px;
		margin-top:30px;
	}
	#feature .section-4 .section-4-left h4{
		font-size:24px;
		line-height:normal;
	}
	#feature .sec9-test{
		margin:10px 0px;
	}
	#feature .section-4-left .section-4-new span{
		margin:10px 0px;
	}
	#feature .section-4-left span{
		margin-bottom:10px;
	}
	#feature .section-4-img{
		padding:0 20px;
		margin-top:30px;
	}
	#feature .section-4{
		margin-top:0px;
	}
	#feature .span-style{
		font-size:16px !important;
	}
}
@media (min-width:991px) and (max-width:1023px){
	#feature .section-f1-left {
		padding-right: 50px;
		padding-left: 50px;
	}
	#feature .secf2-2{
		left:36%;
	}
	#feature .section-f2-left {
		padding-left: 60px;
	}
	#feature .sec15-2{
		left:0px;
	}
	#feature .section-15-left {
		padding-right: 60px;
	}
	#feature .sec17-2-1 {
		position: relative;
		left: 0%;
	}
	#feature .section-17-left {
		padding-left: 50px;
	}
	#feature .secf3-2{
		left:36%;
	}
	#feature .section-f3-left {
		padding-left: 20px;
	}
	#feature .section-f4-left {
		padding-left: 50px;
	}
	#feature .section-4-left {
		padding-left: 20px;
	}
	#feature .section-f2-left .section-f2-new span i{
		margin-right:10px;
	}
	#feature .section-f3-left .section-f3-new span i{
		margin-right:10px;
	}
	#feature .section-f4-left .section-f4-new span i{
		margin-right:10px;
	}
	#feature .section-4-left .section-4-new span i{
		margin-right:10px;
	}
	.footer-img2 {
		min-height: 170px;
		float: left;
		margin-bottom: 15px;
	}
}
@media (min-width:1024px) and (max-width:1024px){
	#feature .section-f1-left {
		padding-right: 60px;
		padding-left: 60px;
	}
	#feature .section-f2-left {
		padding-left: 80px;
	}
	#feature .secf2-2{
		left:38% !important;
	}
	#feature .section.section-5 p{
		padding:0 30px;
	}
	#feature .section-f4-left {
		padding-left: 80px;
	}
	#feature .img-left {
		margin-left: 0;
	}
	#feature .section.section-5{
		margin-top:0px;
	}
	#feature .secf3-2{
		left:35%;
	}
	#feature .section-6.sec-integration h1{
		margin-top:50px;
	}
	.footer-img2 {
		min-height: 160px;
	}
}
@media (min-width: 1024px) and (max-width: 1200px) {
	#feature .section-f1-left {
		padding-right: 50px;
		padding-left: 50px;
	}
	#feature .secf2-2{
		left:36% !important;
	}
	#feature .section-f2-left {
		padding-left: 60px;
	}
	#feature .sec15-2{
		left:0px;
	}
	#feature .section-15-left {
		padding-right: 60px;
	}
	#feature .sec17-2-1 {
		position: relative;
		left: 0%;
	}
	#feature .section-17-left {
		padding-left: 50px;
	}
	#feature .secf3-2{
		left:36%;
	}
	#feature .section-f3-left {
		padding-left: 20px;
	}
	#feature .section-f4-left {
		padding-left: 50px;
	}
	#feature .section-4-left {
		padding-left: 20px;
	}
	#feature .section-f2-left .section-f2-new span i{
		margin-right:10px;
	}
	#feature .section-f3-left .section-f3-new span i{
		margin-right:10px;
	}
	#feature .section-f4-left .section-f4-new span i{
		margin-right:10px;
	}
	#feature .section-4-left .section-4-new span i{
		margin-right:10px;
	}
	.footer-img2 {
		min-height: 170px;
		float: left;
		margin-bottom: 15px;
	}
}
@media (min-width: 1024px) and (max-width: 1250px) {
	#feature .section-9-left {
		padding-right: 50px;
		padding-left: 50px;
	}
	#feature .section-4-left {
		padding-left: 90px;
	}
	#feature .sec4-2 {
		left: 37%;
	}
	#feature .section-4-left .section-4-new span span{
		width:84%;
	}
	#feature .section-15-left {
		padding-right: 90px;
	}
	#feature .section-17-left {
		padding-left: 90px;
	}
	#feature .sec17-2-1 {
		position: relative;
		left: 5%;
	}
	#feature .res-img{
		width:90%;
	}
	#feature .sec-style-left{
		padding-left:50px;
	}
	
	
}
@media (min-width: 1480px) and (max-width:1800px) {
	
}
@media (min-width: 1810px) and (max-width:1920px) {
	
}
@media (min-width: 1480px) and (max-width:1920px) {
	
}


/*################### Feature Page responsive css end ###################*/
