body{background:#fff !important;}
.text-bar{ margin-bottom:40px; float:left;}
.tab-section{}
.tab-section .nav-tabs {border-bottom: 0; text-align: center;  }
.tab-section .nav-tabs > li {float: none; margin-bottom: -1px; display: inline-block;}
.tab-section .nav-tabs > li > a {color: #61696c;    cursor: pointer;background-color: #eff0f0;    border:0; margin-right:-4px; 
 border-bottom-color: transparent; font-family:montserratbold; font-size:14px;    padding: 15px 50px; border-radius:0 !important;}
.tab-section .nav-tabs > li.active > a, .tab-section .nav-tabs > li.active > a:hover, .tab-section .nav-tabs > li.active > a:focus {color: #fff;cursor: default;background-color: #61696c;    border:0;
 border-bottom-color: transparent; font-family:montserratSemiBold; font-size:14px; position:relative;    cursor: pointer;}
 .tab-section .nav-tabs > li > a i{ display:none;}
.tab-section .nav-tabs > li.active i{ position:absolute; left: 25px;top: 14px; font-size: 20px; display:block; } 
.gallery-content-center .img-outer{ float:left; width:100%;position: relative;}
.gallery-content-center .img-outer img{ width:100%;}
.gallery-content-center h4{ float:left; font-family:montserratlight;  font-size:16px; width:100%; color:#fd6e74; text-transform: uppercase;}
.gallery-content-center p{ float:left; font-family:montserratlight;  font-size:13px;  color:#898e8f;}
.gallery-content-center .color-outer{ float:left;  width:100%;  background:#fd6e74; min-height:250px; text-align:center; padding:20px;  }
.gallery-content-center .color-outer p{font-family:montserratregular; color:#fff !important; font-size:14px;line-height:24px; float:left;}
.gallery-content-center .color-outer i{ margin-bottom:20px; font-size:50px; color:#fff; }
/* .gallery-content-center .portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} */
.gallery-content{
	margin-top:0px !important;
}
.gallery-content-center .img-outer:hover {
	 opacity:1;
}
.gallery-content-center .img-outer:hover .portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: none;
    background-color: none;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.gallery-content-center .img-outer:hover .portfolio-hover .action-btn { 
	opacity:0;
}
.gallery-content-center .img-outer-text{
	float:left; 
	width:100%;
}
.gallery-content-center .portfolio-hover .action-btn {
    position: absolute;
    /* top: 0; */
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
   /*  -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s; */
    font-size: 35px;
	top: 50%;
    margin-top: -35px;
	transform: rotate(135deg);
	transition-duration: 0.3s;
}
.gallery-content-center .portfolio-hover .action-btn a{
	text-align: center;
    color: #222;
 }
 .action-btn i {
    font-size: 35px;
    color: #999;
}

.collage-outer {
    min-height: 200px;
    margin-top: 140px;
    margin-bottom: 80px;
    position: relative;
}
.collage-outer .collage-hollow {
	/* background: #fb6c73; */
    width: 144px;
    height: 134px;
    padding: 15px 5px;;
	border: 3px solid #fb6c73;
	position:absolute
}
.collage-hollow .hvr-grow{
	display:block;
}
.collage-solid .hvr-grow{
	display:block;
}
.collage-hollow:hover{
	box-shadow:5px 5px 10px #999;
	transition-duration:0.3s;
}
.collage-solid:hover{
	box-shadow:5px 5px 10px #999;
	transition-duration:0.3s;
}
/* .collage-hollow:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}
.collage-hollow-text:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
} */
/* .collage-hollow:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}
.collage-hollow-text:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
} */
@keyframes blur{
   from{
     text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 150px #fff,
      0px 10px 100px #fff,
      0px 10px 100px #fff,
      0px 10px 100px #fd6e74,
      0px 10px 100px #fd6e74,
      0px -10px 100px #fd6e74,
      0px -10px 100px #fd6e74;}
	  
}

.collage-hollow.h-sec {
    left: 14%;
	top: 42%;
}
.collage-hollow.h-third {
    left: 28%;
    top: 0%;
}
.collage-hollow.h-fourth {
    top: -32%;
    left: 63%;
}
.collage-hollow.h-fifth {
    top: 15%;
    left: 82%;
}
.collage-outer .collage-hollow .collage-text{
	font-size:13px;
	color:#fd6e74;
	margin-top: 10px;
    margin-bottom: 15px;
	text-transform: uppercase;
}
.collage-hollow span.mat-icon{
	display:block;
}
.collage-hollow span.mat-icon i.material-icons {
    color: #fd6e74;
    font-size: 48px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.useCase-heading{
	float: left;
    width: 100%;
    text-align: center;
    color:#dfe3e6 !important;
    font-size: 48px;
    line-height: 40px;
    font-family:montserratbold;
    margin-top:-10px;
	margin-bottom:30px;
}
.collage-outer .collage-solid{
	background: #fb6c73;
    width: 144px;
    height: 134px;
    padding:15px 5px; 
    position:absolute;
	
}
.collage-solid span.mat-icon{
	display:block;
}
.collage-solid span.mat-icon i.material-icons {
    color: #fff;
    font-size: 48px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.collage-outer .collage-solid .collage-text {
    font-size: 13px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

.collage-solid.s-first {
    top: -62px;
    left: 14%;
}
.collage-solid.s-sec {
    top: -72%;
    left: 35%;
}
.collage-solid.s-third {
    top: 83px;
    left: 42%;
}
.collage-solid.s-fourth {
    top: -32%;
    left: 49%;
}
.collage-solid.s-fifth {
    top: -58%;
    left: 77%;
}
.collage-solid.s-sixth {
    top: 42%;
    left: 68%;
}
.collage-text1{
	padding: 15px 5px!important;
}
/* .collage-solid:hover {
    animation:blur1 .6s ease-out;
}
.collage-solid-text:hover {
    animation:blur1 .6s ease-out;
} */
@keyframes blur1{
  /* from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #eee,
      0px 0px 150px #eee,
      0px 10px 100px #eee,
      0px 10px 100px #eee,
      0px 10px 100px #eee,
      0px 10px 100px #eee,
      0px -10px 100px #eee,
      0px -10px 100px #eee;} */
	  from {opacity: 0;}
		to {opacity: 1;}
	
}
/* Icon Spin */
.hvr-spin {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.hvr-spin:hover, .hvr-spin:focus, .hvr-spin:active {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px) box-shadow: 0 0 1px rgba(0, 0, 0, 0) -webkit-backface-visibility: hidden;
    backface-visibility: hidden -moz-osx-font-smoothing: grayscale;
    position: relative -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
 /* move the element up by 5px */;
}
.gallery {
    float: left;
    width: 100%;
    margin-top: 20px;
}




.usecase .section-usecase1-left h4 {
    color: #fb6c73;
    font-size: 30px;
    font-family: montserratUltra_light;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: none;
	margin-top:0px;
}
.usecase .section-usecase1-left span {
    color: #fb6c73;
    font-size: 14px;
    font-family: montserratlight;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: none;
}
.usecase .section-usecase1-left p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #fb6c73;
    font-family: montserratlight;
    margin-bottom: 5px;
    margin-top: 5px;
}

.usecase .section-usecase1-left .section-usecase1-new span{
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.usecase .section-usecase1-left .section-usecase1-new span span {
    color: #62696d;
    font-size: 13px;
    font-family: montserratlight;
    width: 85%;
    float: left;
    display: block;
    margin: 0px;
}

.usecase .section-usecase1-left .section-usecase1-new span i{
    font-size: 20px;
    color: #bec5c9;
    position: relative;
    margin-right: 20px;
    float: left;
}
.usecase .section-usecase1-left {
    padding-left: 50px;
}
.usecase .sec9-test{ margin-top: 5px; margin-bottom:30px;}



.usecase .gallery-content-center .abc{
    width: 100%;
	float:left;
	margin-left:0px;
}

.usecase .section-usecase2-left h4 {
    color: #fb6c73;
    font-size: 30px;
    font-family: montserratUltra_light;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: none;
	margin-top:0px;
}
.usecase .section-usecase2-left p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #fb6c73;
    font-family: montserratlight;
    margin-bottom: 5px;
    margin-top: 5px;
}
.usecase .section-usecase2-left span {
    color: #fb6c73;
    font-size: 14px;
    font-family: montserratlight;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: none;
}

.usecase .section-usecase2-left .section-usecase2-new span{
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.usecase .section-usecase2-left .section-usecase2-new span span {
    color: #62696d;
    font-size: 13px;
    font-family: montserratlight;
    width: 85%;
    float: left;
    display: block;
    margin: 0px;
}

.usecase .section-usecase2-left .section-usecase2-new span i{
    font-size: 20px;
    color: #bec5c9;
    position: relative;
    margin-right: 20px;
    float: left;
}
.usecase .section-usecase2-left {
    padding-right: 50px;
}
.usecase .gallery-header-center-right-links-current{ border: none;}
