/*################### Whypage responsive css start ###################*/

@media (min-width: 320px) and (max-width:768px) {
	#why .rs-hide{
		display:none !important;
	}
	#why .rs-show{
		display:block !important;
	}
	#why .section-1{
		margin-top:10px;
	}
	#why .section-1-left{ 
		padding-left:25px;
	}
	#why .section-1-why{
		margin-top:20px;
	}
	#why .collag-left{
		width:100%;
		margin-left:0px;
	}
	#why .section-2-heading{
		text-align: left;
		padding-bottom: 0px;
		text-transform:none;
		font-family:montserratultra_light;
		    font-size: 22px;
	}
	#why .section-2-subheading{
		text-align: left;
		width: 100%;
		margin: 0 auto;
		margin-left: 0;
		margin-top: 40px !important;
    	margin-bottom: 0px;
		font-size: 16px;
		padding: 0px;
	}
	#why .section-4-left span i{
		margin-top:40px; 
		font-size:40px;
		margin-right:0px;
	}
	#why .img-2 {
		width: 58%;
		margin-left: -9%;
		float: left;
	}
	#why .img-res {
		width: 65%;
		margin-left: -2%;
		float: left;
	}
	#why .section-1-why .container-fluid {
		padding: 0px;
	}
	#why .collag-left i {
		margin-top: 10px;
		color: #fb6c73;
	}
	#why .img-container-right{
		padding:0px;
	}
	#why .section-4-left span{
		margin-top:2px;
		font-size:16px;
		padding: 0 20px;
		width:100%;
		margin-bottom: 10px;
	}
	#why .section-4{
		margin-top:0px;
		margin-bottom:0px;
	}
	#why .section-7-right {
		padding-right: 0px;
		margin-top: -15%;
	}
	#why .section-7-left {
		padding-right: 10px;
		padding-left: 10px;
		margin-top: -30px;
	}
	#why .circle-value {
		width: 33%;
		padding:0px;
	}
	#why .section-7-left span{
		width:100%;
	}
	#why .section-7-left span i{
		margin-top:2px;
	}
	#why .section-10{ margin-top: 50px;}
	#why .sec4-2 {
		position: absolute;
		left: 40%;
		top: 40%;
		box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.1);
		height: 215px;
	}
	#why .google-trends {
		margin-top: -80px;
	}
	#why .section-12 {
		margin-top: -40px;
	}
	#why .section-heading {
		margin-top: 70px;
	}
	#why .section-16-left {
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#why .section-16-left h4 {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 22px;
	}
	#why .section-16-left span span{
		margin-top: 2px;
		width: 100%;
		margin-bottom: 30px;
		font-size:16px;
	}
	#why .section-16-text span i{ font-size: 40px;}
	#why .sec4-2-1 {
		position: relative;
		left: 4%;
		box-shadow: 0px 5px 28px 8px rgba(0,0,0,0.2);
		right: 4%;
		width: 92%;
	}
	#why .section-top-why{
		margin-bottom:0px;
	    margin-top: 0;
	}
	#why .section-16-left span i{
		margin-bottom:0px;
		margin-right:0px;
		font-size: 40px;
	}
	#why .circle-value label {
		width: 78px;
		height: 78px;
		opacity:1;
	}
	#why .sec7-test em{
		top: 25px;
		left: 70px;
	}
	#why .section-w3-text span i{
		font-size:40px;
	}
	#why .section-w3-text h4{
		font-size:22px;
	}
	#why .section-w3-text span{
		font-size:16px;
	}
	#why .last-sec {
		margin-bottom: 30px;
	}
	#why .section-4 img{
		margin-top:0px;
		width:100%;
	}
	#why .section-4-left h4 {
		color:#fb6c73;
		margin-bottom: 20px;
		width:100%;
		padding:0 20px;
		margin-top: 0px;    font-size: 22px;
	}
	/* iframe {
		position: absolute;
		top: 7px;
		left: 66px;
		right: 0;
		width: 140px;
		height: 79px;
	} */
	#why .collag-left a.collag4{
		width:100%;
	}
	#why .section-7{
		margin:0px;
		padding:0px;
	}
	#why .section-4-left {
		margin-top: 0px;
		padding: 0px;
		margin-bottom:30px;
	}
	#why .img-width-1 {
		width: 100%;
		position: relative;
		height: auto;
	}
	#why .section-16 {
		margin-top: 0px;
		margin-bottom:30px;
	}
	#why .section-16-left span{
		margin-top:0px;
	}
	#why .section-16-text span{
		padding: 0px 20px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	#why .section-16-text h4{
		padding:0px 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 24px;
	}
	#why .section-16-text{
		padding-right:0px;
		margin-bottom: 25px;
	}
	#why .section-16-text span span{
		margin-bottom:0px;
		padding:0px;
	}
	iframe {
		position: absolute;
		top: 7%;
		left: 14%;
		right: 0;
		width: 200px;
		height: 113px;
	} 
	#why .p-img{
		padding:0 20px !important;
	}
	#why .section-w1 {
		margin-top: 0;
		margin-bottom: 0px;
	}
	#why .section-w1-left {
		margin-top: 0px;
		padding: 0px;
		margin-bottom: 30px;
	}
	#why .section-w1-left span {
		margin-top: 2px;
		font-size: 16px;
		padding: 0 20px;
		width: 100%;
		margin-bottom: 10px;
	}
	#why .section-w1-left span i {
		margin-top: 40px;
		font-size: 40px;
		margin-right: 0px;
	}
	#why .section-w1-left h4 {
		color: #fb6c73;
		margin-bottom: 20px;
		width: 100%;
		padding: 0 20px;
		margin-top: 0px;
		font-size:24px;
	}
	#why .section-w2-left span i{
		font-size:40px;
	}
	
	#why .section-w2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#why .section-w2-left {
		margin-top: 0px;
		padding: 0px;
		margin-bottom: 30px;
	}
	#why .section-w2-subheading {
		float: none;
		width: 100%;
		color: #62696d;
		font-size: 17px;
		font-family: montserratlight;
	}
	#why .section-w2-left span {
		margin-top: 2px;
		font-size: 16px;
		padding: 0 20px;
		width: 100%;
		margin-bottom: 10px;
	}
	#why .section-w2-left h4 {
		color: #fb6c73;
		margin-bottom: 20px;
		width: 100%;
		font-size:24px;
		padding: 0 20px;
		margin-top: 0px; font-size: 22px;
	}
	#why .section-w2 img {
		margin-top: 0px;
		width: 100%;
	}
	#why .section-w3-text {
		padding-right: 20px;
		padding-left: 20px;
	}
	#why .section-w3 {
		margin-top: 0;
	}
	#why .section-w3-text span span{
		margin-bottom:30px;
	}
	.video-wrapper-1{
		margin: 20px 0px;
	}
	#why .grey-heading{
    	text-transform: none;
	    line-height: normal;
	    font-size: 24px !important;
	    text-align: center !important;
	    margin-bottom: 0 !important;
	    margin-top: 30px;
    }
    .section-top h3 {font-size: 20px;line-height: normal;}
	.integration-box{
	    margin-left: 0;
	    padding: 20px;
	    min-height: 140px;
	    margin-bottom: 20px;
	}
	/*.rs-hide{
		display:none !important;
	}
	.rs-show{
		display:block !important;
	}*/
	.p-img{
		padding:0 20px !important;
	}
	.integration-head{
		margin-top: 10px;
	    text-transform: none;
	    line-height: normal;
	    font-size: 24px;
	    text-align: center;
	}
}
@media (min-width:375px) and (max-width:375px){
	iframe {
		position: absolute;
		top: 6%;
		left: 12%;
		right: 0;
		width: 252px;
		height: 141px;
	}
}
@media (min-width:384px) and (max-width:384px){
	iframe {
		position: absolute;
		top: 7%;
		left: 13%;
		right: 0;
		width: 251px;
		height: 140px;
	}
}
@media (min-width:414px) and (max-width:414px){
	iframe{
		position: absolute;
		top: 5%;
		left: 13%;
		right: 0;
		width: 274px;
		height: 154px;
	}
}
@media (min-width: 440px) and (max-width:768px) {
	iframe {
		position: absolute;
		top: 9px;
		left: 37px;
		right: 0;
		width: 200px;
		height: 113px;
	} 
	#why .img-2 {
		width: 61%;
		margin-left: -9%;
		float: left;
	}
	.integration-box{
	    margin-left: 0;
	    padding: 20px;
	    min-height: 190px;
	    margin-bottom: 20px;
	}
}
@media (min-width: 480px) and (max-width:768px) {
	iframe {
		position: absolute;
		top: 14px;
		left: 56px;
		right: 0;
		width: 323px;
		height: 182px;
	}	
}
@media (min-width:568px) and (max-width:568px){
	iframe{
		position: absolute;
		top: 6%;
		left: 13%;
		right: 0;
		width: 388px;
		height: 218px;
	}
}
@media (min-width: 600px) and (max-width:768px) {
	iframe{
		position: absolute;
		top: 15px;
		left: 142px;
		right: 0;
		width: 309px;
		height: 174px;
	}
}
@media (min-width: 640px) and (max-width:768px) {
	iframe {
		position: absolute;
		top: 17px;
		left: 73px;
		right: 0;
		width: 449px;
		height: 253px;
	}
}
@media (min-width:736px) and (max-width:736px){
	iframe {
		position: absolute;
		top: 5%;
		left: 12%;
		right: 0;
		width: 523px;
		height: 294px;
	}
}
@media (min-width: 768px) and (max-width:768px){
	iframe {
		position: absolute;
		top: 22px;
		left: 86px;
		right: 0;
		width: 549px;
		height: 309px;
	}
	#why .section-1-left {
		margin-top: 100px;
	}
	#why .img-2 {
		width: 63%;
		margin-left: -9%;
		float: left;
	}
	.integration-box {
	    padding: 20px;
	    min-height: 150px;
	    margin-bottom: 20px;
	}
	/*.rs-show{
	    display: none !important;
	}
	.rs-hide{
	    display: block !important;
	}*/
}
@media (min-width: 769px) and (max-width: 990px){
	.section-top h3 {
		font-size: 20px;
		line-height: normal;
	}
}
@media (min-width: 1024px) and (max-width:1250px) {
	iframe{
		position: absolute;
		top: 20px;
		left: 222px;
		right: 0;
		width: 496px;
		height: 285px;
	}
	#why .img-2 {
		position: absolute;
		left: 50%;
		top: 0%;
	}
}
@media (min-width: 1480px) and (max-width:1800px) {
	
}
@media (min-width: 1810px) and (max-width:1920px) {
	
}
@media (min-width: 1480px) and (max-width:1920px) {
	
}

