body {
    margin: 0;
    padding: 0;
    font-size: 14px; background:#f2f2f2;
}


input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid #d9dad3;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding: 11px 1%;
    box-shadow: none;
    transition: all 0.3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.template002{ width: 100%; height: 100%;list-style-position: outside; margin:0; padding:0;}

/*Main Section Style */
.main-bg {background: url("../images/temp2-bg.jpg") fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;   background-size: cover;  width:100%; }
	
/*header section*/
header { float:left; width:100%;padding: 10px;}
header .logo {float: left;padding: 8px 10px;}
header .logo span {color: #fff;font-size: 18px;margin-left: 15px;font-family: montserratregular;}
/*header section end*/

/*Content section */
.landing-page {width: 100vw;display: table-cell;vertical-align: middle;height: 72vh;text-align:center;  }
.input-outer {    width: 100vw; display: table-cell; vertical-align: middle;text-align: center;  }
.cta-outer {    width: 100vw; display: table-cell; vertical-align: middle; height: 20vh;text-align: center;  }
.main-head {font-family:oxygenbold;font-size: 60px;color: #ffffff;word-wrap: break-word;margin:0 auto;min-height:20px; padding:0 30%;}
.sub-head {font-family: oxygenregular;font-size: 24px;color: #ffffff;word-wrap: break-word;}
.description {font-family: oxygenregular;font-size: 18px;color: #ffffff;margin-top: 25px;word-wrap: break-word; padding: 0 10%;}
.input-section{ width:65%; margin:30px auto 0 auto ;}
.input-section input{ width: 43% !important; margin: 8px !important; border:2px solid #c4c4c6 !important; color:#fefeff; font-family:montserratregular; font-size:14px !important;}
.input-section ::-webkit-input-placeholder {color: #c4c4c6;}
.input-section :-moz-placeholder { /* Firefox 18- */ color: #c4c4c6;  }
.input-section ::-moz-placeholder {  /* Firefox 19+ */color: #c4c4c6; }
.input-section :-ms-input-placeholder {color: #c4c4c6;}
.prime-action {font-family:oxygenregular;font-size: 18px;color: #323232;margin-top: 20px; padding: 10px 4%;background: #ffffff;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.btn.prime-action.focus,.btn.prime-action:focus,.btn.prime-action:hover {color: #323232; text-decoration: none;}
.btn.prime-action.focus,.btn.prime-action:focus,.btn.prime-action:active {color: #323232; text-decoration: none;outline:none;}
.btn.prime-action.focus,.btn.prime-action:focus,.btn.prime-action:visited {color: #323232; text-decoration: none;}
.btn.prime-action.focus,.btn.prime-action:focus,.btn.prime-action:focus {color: #323232; text-decoration: none;}
.footer-nav-outer{ position:absolute; bottom:0; width:100%; padding:10px;}
.footer-nav { margin: 0; padding: 0; float:left;}
.footer-nav li {float: left;display: inline;}
.footer-nav li a {color: #fff;font-family:oxygenregular ;font-size: 12px;text-decoration: none;}
.footer-nav li a:hover { color: #fff;}
.footer-nav li span {color: #fff;font-family: oxygenregular;font-size: 12px;text-decoration: none;padding: 5px 10px;}
.powered-by {float: right;text-align: right;}
.powered-by span { color: #fff;font-size: 12px; margin-right: 5px; font-family: oxygenregular;}


/*theme style*/
.questions{padding-top: 3%;width: 100%;float: left;}
.questions-header header{ background:#161a29; float:left; width:100%; padding:0;} 
.questions-header header .p-right0{ padding-right:0;}
.questions-header header .logo {float: left; padding:10px; }
.questions-header header .right-sec {float: left; background:#00aea5; min-height:70px; padding:13px 10px 10px 2% ; position:relative; }
.questions-header header .right-sec i{ font-size:20px;color:#fff; position:absolute; left:-72px;}
.questions-header header .right-sec p{ float:left; font-size:11px;color:#fff; padding-left:26px; font-family: montserratregular; margin-bottom:5px;  }
.questions-header header .right-sec span{ float:left; font-size:20px;color:#fff; font-family: montserratregular; padding-left:5px; }
.que-fixed{position: fixed;top: 0; width: 100%; z-index:99;}
.question-page{padding-top:7%; }

.questions .question-head {font-family: montserratregular; font-size: 36px; text-align: center; color: #232f3f;margin-bottom: 15px;}
.questions .question-subhead { font-family: montserrat-light;font-size: 18px;text-align: center;color: #232f3f; width: 50%; margin: 0 auto; margin-bottom: 30px;}
.questions .question-section {border-left:3px solid #ffe7da; width:100%;margin-left: 8px;margin-top: 3px;float:left;}
.questions .question-section  .check-comp .input-field {position: relative;float: left;border-radius: 10px !important;width: 65%;font-family: montserrat-light;background:#f7f7f7; color:#fe7225 !important; border-radius:3px !important; font-size:12px;}
.check-comp{margin-left:20px;}
.last-ques{border:none !important; padding-left:3px;}
.questions .section-head {width: 100%;margin-left: 3px;color: #5f5f5f;font-size: 15px;font-family: inherit;line-height: inherit;margin-top: -3px;font-weight: bold; margin-bottom: 13px;}
.questions  .file-outer .section-head {font-size: 22px; margin-bottom: 10px;font-family: montserrat-light;	color: #666e78;}
.questions .section-head i {color:#dcdddf; font-size:22px;}
.questions .question-components {width: 88%;display: inline-block;}
.questions .question-components .check-comp label{ margin-bottom:0;}

.questions .date-picker-outer .section-head{font-size: 22px;margin-bottom: 10px;font-family: montserrat-light;color: #666e78; margin-top:-20px;}
/*theme style end */

/* Checkbox with tick icons */
.check-icon { width: 100%;font-size: 16px;font-weight: normal;line-height: 16px;border-bottom: 0;font-family: montserrat-light;}
.check-icon.last {border: 2px solid #eee;}
.check-icon:hover, .check-icon.last:hover{ background:#ffffff; cursor:pointer;}
.check-icon input[type="checkbox"] {left: -9999px; position: absolute;}
.check-icon label {content: ""; width: 18px; height: 18px;border: 2px solid #ff6400;border-radius:50%; margin-right: 15px;margin-bottom: 0px;position: relative;top: 4px;}
.check-icon input[type="checkbox"]:checked + label { background-color: #ff6400; border: none;top: 1px;}
.check-icon.gray-bg{ background:#f9f9f9;}
.check-icon label::after {display: inline-block;position: relative; /* width: 11px; */height: auto;left: 3px;top: 2px;font-size: 14px; color: #fff;font-weight: 700; height: 0px;/* line-height: 34px; */}
.check-icon input[type="checkbox"]:checked + label::after {font-family: "Material Icons"; content: "\e5ca";}
.check-icon div {line-height: 30px; display: inherit; color:#ff6400;}

/* Checkbox with tick icons ends */

/* Checkbox as icons */
.check-icon div {line-height: 38px;display: inherit;}
.check-icon label {display: inline-block;width: 18px; height: 18px; position: relative;margin: 0px 10px 0px 0px;}
.check-icon input[type="checkbox"]:checked + div {background-color: #00aea5;border: none;color: #fff;}
.check-icon input[type="checkbox"]:checked + div label {background-color: #fff;border: none;margin-bottom: 5px;}
.check-icon input[type="checkbox"]:checked + div label::after {font-family: "Material Icons"; content: "\e5ca";}
.ic label {content: none; border: none;height: auto; width: auto;color: #00aea5;}
.ic input[type="checkbox"]:checked + label::after { content: none;}
.ic input[type="checkbox"]:checked + label { color: #00aea5; background: none; top: 8px;}
.ic i {font-size: 24px; line-height: 1;}


/*New Radio Style */
.radio-outer{border-bottom:0; font-family:montserrat-light;margin-left: -18px;margin-bottom: -5px;}
.radio-outer:last-child{border:none;}
.lable-style{padding: 15px 30px; margin-left: 22px;}
.control {display: block;position: relative;padding-left: 30px;cursor: pointer;font-size: 16px; font-weight: 500; color:#ff6600;}
.control input {position: absolute;z-index: -1; opacity: 0;}
.control__indicator {position: absolute;top: 16px;left: 0;height: 20px;width: 20px;border:3px solid #ff6600;}
.control--radio .control__indicator {border-radius: 50%;}
.control input:checked ~ .control__indicator {background: #ff6600;}
.control__indicator:after {content: ''; position: absolute; display: none;}
.control input:checked ~ .control__indicator:after {display: block;}
.control--radio .control__indicator:after { left: 0px; top: 0px; height: 14px; width: 14px; border-radius: 50%; background: #ff6600; border: 3px solid #fff;}
.control--radio .control__indicator.icon-set{ border:none !important;top: 14px;left: -5px; color:#ff6600;}
.control--radio .control__indicator.icon-set:after { left: 0px; top: 0px; height: 14px; width: 14px; border-radius: 50%; background: none; border: none;}
.control input:checked ~ .control__indicator.icon-set {background: none;}

/*New Checkbox Style */
.checkbox-outer-base{ border-bottom:0; font-family:montserrat-light;margin-left: -8px;margin-bottom: -5px;}
.checkbox-outer-base:last-child{border:none;}
.checkbox-outer{border: 2px solid #eee; border-bottom:0; font-family:montserrat-light;}
.checkbox-outer:last-child{border: 2px solid #eee;}
.control__indicator.check-set { left:16px !important; border:2px solid #ff6600;}
.control--checkbox { padding:15px 45px;}
.control--checkbox .control__indicator:after {left: 6px; top: 1px; width: 5px; height: 11px; border: solid #fff; border-width: 0 2px 2px 0;transform: rotate(45deg);}
.check-comp .checkbox-outer .control__indicator.check-set{ border:none; left:12px; color:#ff6600;}
.check-comp .checkbox-outer .control input:checked ~ .control__indicator {background: none; color:#ff6600;}
.check-comp .checkbox-outer .control--checkbox .control__indicator:after{ border:none;}
.check-comp .checkbox-outer .control--checkbox { padding:15px 50px;}


/* Radio Buttons*/

.radio-icon {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    border-bottom: 0;
    font-family: montserrat-light;
}
input { cursor:pointer; }
.radio-icon .active{ background:#f7f7f7;}
.radio-icon .last {
    border: 2px solid #eee;
}

.radio-icon :hover,
.radio-icon .last:hover {
    background: #f9f9f9;
    cursor: pointer;
}
.radio-icon .radio-btn label .radio-btn input[type="radio"]:checked+label {
    color: #ff6400;
    font-size: 15px;
}
.radio-icon  .radio-btn input[type="radio"]:checked+label::after {
    border: 3px solid #ff6400;
}
.radio-icon .radio-btn input[type="radio"]:checked+label::before {
    background: #ff6400;
}
.radio-icon  .radio-btn label::after {
    border: 3px solid #ff6400;
}

.radio-icon .radio-btn {
    position: relative;
    padding: 5px;
}
.radio-icon  .radio-btn label{font-weight: 500;}
.radio-icon  .radio-btn input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
	
}
.radio-icon  .radio-btn label i{float: left; margin-left: -30px;font-size: 18px;}

.radio-icon  .radio-btn label {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    color: #ff6400;
}
.radio-icon  .radio-btn label::after {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    left: 0;
    top: 0;
    margin-left: 0px;
    background-color: #ffffff;
    border: 2px solid #ff6600;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
	cursor: pointer
}
.radio-icon  .radio-btn label::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    top: 6px;
    left: 6px;
    margin-left: 0px;
    border: 3px solid #ff6400;
    border-top: none;
    border-right: none;
    background: transparent;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    z-index: 1
}
.radio-icon  .radio-btn label:active::before {
    opacity: 0.3
}

.radio-icon .radio-btn input[type="radio"]:checked+label {
    color: #ff6600;
}

.radio-icon  .radio-btn input[type="radio"]:checked+label::after {
    border: 3px solid #ff6400;
}

.radio-icon  .radio-btn input[type="radio"]:checked+label::before {
    opacity: 1;top: 5px;left: 5px;
}

.radio-icon  .radio-btn input[type="radio"]:disabled+label {
    color: #787878;
    cursor: default
}

.radio-icon  .radio-btn input[type="radio"]:disabled+label::after {
    border: 3px solid #787878;
    background-color: #ffffff
}

.radio-icon .radio-btn input[type="radio"]:disabled+label::before {
    display: none
}
.radio-icon .radio-btn label::after {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
	display:none;
}
.radio-icon  .radio-btn label::before {
	display:none;
    width: 9px;
    height: 9px;
    border: none;
    top: 6px;
    left: 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #ff6600;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}


/* counter Buttons*/
.counter{  float:left; padding:5px;  border:1px solid #dcdddf; font-family:montserrat-light; margin-bottom:20px; background:#f7f7f7; }
.qty {width: 100px !important;height: 25px;text-align: center; float:left; border:none !important; margin-bottom:0 !important; font-size:16px !important; color:#ff6600;}
.qtyplus { width:25px; height:25px; background:none; float:left; margin-left:10px; cursor:pointer; font-size:20px;  padding:5px; color:#ff6600;}
.qtyminus { width:25px; height:25px; float:left; margin-right:10px; cursor:pointer; font-size:20px; padding:5px;color:#ff6600;}
.qtyminus .material-icons,.qtyplus .material-icons { font-size:20px !important} 

/* switch Buttons*/

.switch-outer{float:left}
.switch-outer .switch {display: table-cell;vertical-align: middle;padding: 5px;}
.switch-outer .cmn-toggle {position: absolute;margin-left: -9999px;visibility: hidden;}
.switch-outer .cmn-toggle + label { display: block; position: relative; cursor: pointer; outline: none; -webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none; user-select: none;}
.switch-outer input.cmn-toggle-round-flat + label {padding: 2px; width: 62px; height: 30px; background-color: #ff6600; -webkit-border-radius: 60px;  -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-transition: background 0.4s;  -moz-transition: background 0.4s; -o-transition: background 0.4s; transition: background 0.4s;}
.switch-outer input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {display: block;position: absolute; content: "";}
.switch-outer input.cmn-toggle-round-flat + label:before { top: 2px; left: 2px; bottom: 2px; right: 2px; background-color: #f7f7f7; -webkit-border-radius: 60px;  -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-transition: background 0.4s;  -moz-transition: background 0.4s; -o-transition: background 0.4s; transition: background 0.4s;}
.switch-outer input.cmn-toggle-round-flat + label:after { top: 4px; left: 4px; bottom: 4px; width: 23px; background-color: #ff6600; -webkit-border-radius: 52px;
  -moz-border-radius: 52px;  -ms-border-radius: 52px; -o-border-radius: 52px; border-radius: 52px; -webkit-transition: margin 0.4s,background 0.4s; -moz-transition: margin 0.4s, background 0.4s;  -o-transition: margin 0.4s, background 0.4s; transition: margin 0.4s, background 0.4s;}
.switch-outer input.cmn-toggle-round-flat:checked + label {  background-color: #ff6600;}
.switch-outer input.cmn-toggle-round-flat:checked + label:after { margin-left: 30px; background-color: #ff6600;}


/*input*/

.input-icon {
    color: initial;
    position: relative;
    top: -60px;
    font-size: 16px;
    background: none;
    border: none;
    text-align: right;
    padding: 6px 10px 6px 20px;
}

.input-group-addon.input-icon {
    color: #ff6600;
}

.btn:active{box-shadow:none !important;}
.btn.focus, .btn:focus, .btn:hover{color:#ff6600;}

/*File Upload*/
.file-input {border:none !important;}
.file-field { position: relative;}
.input-field {position: relative;max-height:54px;margin-bottom: 2rem;float:left;width:100%; font-family:montserrat-light}
.file-field input[type=file] {border: 1px solid #dae2e6;padding: 8px !important;padding-bottom: 8px !important;
padding-top: 8px !important;line-height: 19px; display: block;width: 100%;font-size: 12px !important;margin: 0px !important;}
.file-field .input-icon {left: 1px;/* top: 8px; */color: #ff6600;font-size: 24px;text-align: left;}
.file-field input[type=text] { padding-left: 55px; -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
.btn-basic2{color:#ff6600;font-size:18px; }
/*File Upload ends*/


/*Range Slider */
.slider-selection {background: none;background-color: #ff6801;box-shadow: none;}
.slider-track-low, .slider-track-high {background: #ccc;}
.slider-handle {background-color: #fff; background-image: none;box-shadow: none; width: 18px; height: 18px;}
.tooltip-inner { padding: 3px 10px;font-size: 16px; background-color: #00aea5;border-radius: 0px;}

.slider .tooltip.top {margin-top: -49px;}
.slider.slider-horizontal {width: 100%;}
.slider.slider-horizontal .slider-track {height: 6px;}
.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {top: 0px;}
.slider-track .slider-tick { background: #ccc; opacity: 1;}
.slider-tick.in-selection,.slider-tick { background-image: none;background: #00aea5;width: 18px;height: 18px;}
.slider-selection.tick-slider-selection {background-image: none; background-color: #00aea5;}
.range {font-size: 18px;position: relative;top: 41px;right: -1px;}
.range-max {top: -6px;float: right;}
.slider.slider-horizontal .slider-track{ height: 4px; float:left;}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{margin-top:-4px; margin-left:0px;}
.slider-handle{width:12px; height:12px; background: #ff6801;}
.slider-track{background:#cccccc;}
.tooltip-inner{background:#ff6801 !important;margin-left: 8px;}
.tooltip.top .tooltip-arrow{border-top-color: #ff6801}
.slider-track-low, .slider-track-high{}
.slider-selection.tick-slider-selection{background:#ff6801;}
.slider-tick.in-selection{width: 12px;height: 12px;background: #ff6400;}
.slider-tick{width:12px; height:12px;background:#cccccc;}
.cir{margin-left:-10px; margin-top:2px;}
.range-slider{text-align:center;}
.slider.slider-horizontal{width:96%; padding:25px 0; float:left;}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{ font-family:montserrat-light; font-size:16px; color:#ff6400; width:100%;}
.slider.slider-horizontal .slider-tick-label-container { white-space: nowrap; margin-top: 3px !important;}
.tooltip.top .tooltip-arrow {margin-left: -2px !important;}

/*Range Slider ends */


/*Style for template two*/

.panel1{ width:100%; float:left; background:#ffffff;border-radius:1%; padding:15px; position:relative;z-index:1;}
.panel1 h4{color:#ff6600;}
.panel1 h6{color:#999999;}
.panel2{background:#f6f6f6; width:100%; margin-top:6%;float:left; border-radius:1%;box-shadow: inset 12px 0px 9px -6px; z-index:-1;    margin-left: -6px;}
.np{padding:0px !important;}
.mt{margin-top:20px;}
/*.ques-section{color:#ff6600; border-left:1px solid #ff6600; height:4px;}*/
.circle {height:20px;width: 20px;border-radius: 25px; position: relative;color:#ffffff;vertical-align: middle;background: #ff6600;top: -3px;float:left; left:-12px;}
.grey-color{color:#9a9a9a;}
.p{padding:10px;}

.o-text{color:#ff6801; font-size:20px; float:left;}
input::-webkit-input-placeholder {color: #ff6600 !important; padding:0px 0px 0px 10px;}
.head3{width:100%;background:#eeeeee;float:left; border:none !important; padding:20px !important;}
.panel2 h3{color:#5f5f5f;font-family: montserrat-light; padding:13px 20px;}
.ptext{color:#fe6700; font-size:25px;}
.res-sub-heading h4 {font-size:16px; color:#7a7a7a; text-transform: uppercase; margin-top:20px;}
.res-sub-heading h6{color: #9a9a9a;font-size: 14px;font-family: montserratregular;margin: 20px;line-height: 22px;}
.panel2 hr {width: 75%;height: 3px;background: #fff;border-radius: 5px; }
.cta-outer-new {width: 100vw; display: table-cell; vertical-align: middle; height: 70px;text-align: center;  }
.bordered-btn-new{background-color: #f9f9f9;  color: #ff6600;padding: 10px 40px; border: 2px solid #ff6600;text-decoration: none !important; transition: background-color 0.5s ease; border-radius: 7px;}
.bordered-btn-new:hover{ background-color: #ff6600; color: #fff;}

.bottom-text{color:#cdcdcd; font-size:12px; margin:0px 20px;}
.panel2 .share-link{ float:left; text-align:right; width:75%; margin-top:20px; margin-bottom:20px;}
.panel2  .share-link ul{ margin:5px 0; padding:0; float:right;}
.panel2   .share-link ul li{ float:left; display:inline-block;}
.panel2  .share-link ul li span{ padding:0px 10px; color:#ff6400; font-size:18px; font-weight:bold;}
.panel2  .share-link ul li a{ float:left; display:inline-block; text-decoration:none; color:#6e7071; font-size:18px; padding:5px;} 
.panel2  .share-link ul li a .material-icons{font-size:18px !important; margin-top:3px; } 
.panel2  .share-link span i{   margin-top: 8px;font-size: 16px;margin-left: 6px; color: #6e6f71;}
.panel2  .share-link span li{border-left: 1px dotted #6e6f71;height: 18px;margin-top: 8px;margin-left:5px; margin-right:5px;}
.panel1 .submit-outer{width: 100vw; display: table-cell; float:left;height: 20vh;text-align: center;  }
.panel1 .submit-btn{background-color: #f9f9f9;  color: #ff6600;padding: 10px 20px; border: 2px solid #ff6600;text-decoration: none !important; transition: background-color 0.5s ease; border-radius: 7px; margin-left:35px;}
.panel1 .submit-btn:hover{ background-color: #ff6600; color: #fff;}
.mb{margin-bottom:20px;}

/*style for template two ends -->


/*selectbox style start*/
.selectize-input {
    border: 1px solid #d9dad3;
    padding: 15px 15px 15px 50px;
    width: 43%;
    display: inline-block;
   overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px; font-family:montserrat-light; font-size:14px;
}
.selectize-input .item{font-family:montserrat-light; font-size:14px;color:#ff6600;}
.selectize-dropdown .active {
    background-color: #ff6600;
    color: #ffffff;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 15px;  font-family:montserrat-light; font-size:14px;
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #d9dad3;
}
.control-group{position:relative; font-family:montserratregular;}
.select-icon{
    position: absolute;
    z-index: 9;
    top: 13px;
    font-size: 24px;
    left: 16px;
    color: #ff6600;

}
/*Components end */

/*Result Section Style */
.result-section {background:#f9f9f9; width:100%;height:100vh; position:absolute; font-family:montserratregular; display:table;}
.result-section .top-head { position:relative; z-index:1; float:left; width:100%;background:#eeeeee;	min-height:50px; border-bottom:1px solid #e6e6e6; font-family:montserratregular;padding:10px 50px; box-shadow: 0px 1px 6px rgba(0,0,0,0.1);}
.result-section .top-head  .top-left{ float:left; width:50%; padding:0 10px;}
.result-section .top-head  .top-right{ float:left; width:50%; padding:0 10px;}
.result-section .top-head h4{	color:#6f7072;font-size:24px; text-transform:uppercase; font-family:montserratregular;}
.result-section .top-head h4 span{ color:#00aea5; font-size:24px;}
.result-section  .share-link{ float:left; text-align:right;}
.result-section  .share-link ul{ margin:5px 0; padding:0; float:right;}
.result-section  .share-link ul li{ float:left; display:inline-block;}
.result-section  .share-link ul li span{ padding:0px 10px; color:#00aea5; font-size:18px; font-weight:bold;}
.result-section  .share-link ul li a{ float:left; display:inline-block; text-decoration:none; color:#6e7071; font-size:18px; padding:5px;} 
.result-section  .share-link ul li a .material-icons{font-size:18px !important; margin-top:3px; } 
.result-section .share-link span i{   margin-top: 8px;font-size: 16px;margin-left: 6px; color: #6e6f71;}
.result-section .share-link span li{border-left: 1px dotted #6e6f71;height: 18px;margin-top: 8px;margin-left:5px; margin-right:5px;}
.result-section ul li h6{color:#6e6f71; margin-right:12px;}
.result-section .content-left{ float:left;  width:70%; background:#fff; padding:40px; height:90vh;box-shadow: 0px 4px 10px rgba(0,0,0,0.1); z-index:1; }
.result-section .content-left h4{color:#00aea5;	text-align:center; font-size:30px; font-family:montserratregular;}
.result-section .content-left h5{color:#00aea5;text-align:center;font-size:14px; font-family:montserratregular; margin:0; line-height:22px; text-transform:uppercase;}
.result-section .content-left h6{color:#9a9a9a;text-align:center;font-size:14px; font-family:montserratregular; margin:0; line-height:22px;}
.result-section .content-left .small-section{ float:left; padding:5% 10px; width:33.3%;}
.result-section .content-left .small-section h4{color:#999;text-align:center; font-size:24px; font-family:montserratregular;}
.result-section .content-left .input-section{ float:left;width:85%; background:#f5f5f5; padding:20px; text-align:center; margin:0 8%;}
.result-section .content-left .input-section input{width: 43% !important;margin: 8px !important;border: 2px solid #cccccc !important;color: #b9b9b9;font-family: montserratregular;font-size: 14px !important; background:#ffffff;}
.bordered-btn{background-color: #f9f9f9;  color: #00afa5;padding: 10px 40px; border: 2px solid #00afa5;text-decoration: none !important; transition: background-color 0.5s ease; }
.bordered-btn:hover{ background-color: #00afa5; color: #fff;}
.result-section .content-right{ float:left; width:30%; padding:0 10px; height:90vh; }

/*Result Section Style ends*/












