body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: #f2f2f2;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid #d9dad3;
    border-radius: 0;
    outline: none;
    width: 100%;
    font-size: 16px;
    margin: 0 0 15px 0;
    padding: 14px 1%;
    box-shadow: none;
    transition: all 0.3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.template001 {
    width: 100%;
    height: 100%;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}


/*Main Section Style */

.main-bg {
    background: url("../images/temp-bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
    text-align: center;
}


/*header section*/

header {
    float: left;
    width: 100%;
    padding: 10px;
}

header .logo {
    float: left;
    padding: 15px 10px;
}

header .logo span {
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    font-family: montserratregular;
}


/*header section end*/


/*Content section */

.landing-page {
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    height: 72vh;
    text-align: center;
}

.input-outer {
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cta-outer {
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    height: 20vh;
    text-align: center;
}

.main-head {
    font-family: montserratregular;
    font-size: 48px;
    color: #00e3d8;
    word-wrap: break-word;
}

.sub-head {
    font-family: montserratregular;
    font-size: 24px;
    color: #e5e5e6;
    word-wrap: break-word;
}

.description {
    font-family: montserratregular;
    font-size: 14px;
    color: #b8b9bb;
    margin-top: 25px;
    word-wrap: break-word;
    padding: 0 20%;
}

.input-section {
    width: 65%;
    margin: 30px auto 0 auto;
}

.input-section input {
    width: 43% !important;
    margin: 8px !important;
    border: 2px solid #c4c4c6 !important;
    color: #fefeff;
    font-family: montserratregular;
    font-size: 14px !important;
}

.input-section::-webkit-input-placeholder {
    color: #c4c4c6;
}

.input-section:-moz-placeholder {
    /* Firefox 18- */
    color: #c4c4c6;
}

.input-section::-moz-placeholder {
    /* Firefox 19+ */
    color: #c4c4c6;
}

.input-section:-ms-input-placeholder {
    color: #c4c4c6;
}

.prime-action {
    font-family: montserratregular;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    padding: 10px 4%;
    background: #00aea5;
    border-radius: 0 !important;
}

.btn.prime-action.focus,
.btn.prime-action:focus,
.btn.prime-action:hover {
    color: #fff;
    text-decoration: none;
}

.footer-nav-outer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer-nav {
    margin: 0;
    padding: 0;
    float: left;
}

.footer-nav li {
    float: left;
    display: inline;
}

.footer-nav li a {
    color: #fff;
    font-family: montserratregular;
    font-size: 12px;
    text-decoration: none;
}

.footer-nav li a:hover {
    color: #fff;
}

.footer-nav li span {
    color: #fff;
    font-family: montserratregular;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
}

.powered-by {
    float: right;
    text-align: right;
}

.powered-by span {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
    font-family: montserratregular;
}


/*theme style*/

.questions {
    padding-top: 7%;
    float: left;
    width: 100%;
}

.questions-header header {
    background: #161a29;
    float: left;
    width: 100%;
    padding: 0;
}

.questions-header header .p-right0 {
    padding-right: 0;
}

.questions-header header .logo {
    float: left;
    padding: 10px;
}

.questions-header header .right-sec {
    float: left;
    background: #00aea5;
    min-height: 70px;
    padding: 13px 10px 10px 2%;
    position: relative;
}

.questions-header header .right-sec i {
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: -72px;
}

.questions-header header .right-sec p {
    float: left;
    font-size: 11px;
    color: #fff;
    padding-left: 26px;
    font-family: montserratregular;
    margin-bottom: 5px;
}

.questions-header header .right-sec span {
    float: left;
    font-size: 20px;
    color: #fff;
    font-family: montserratregular;
    padding-left: 5px;
}

.que-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.question-page {
    padding-top: 7%;
}

.questions .question-head {
    font-family: montserratregular;
    font-size: 36px;
    text-align: center;
    color: #232f3f;
    margin-bottom: 15px;
}

.questions .question-subhead {
    font-family: montserrat-light;
    font-size: 18px;
    text-align: center;
    color: #232f3f;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.questions .question-section {
    width: 100%;
    border: 3px solid #dcdddf;
    display: inline-block;
    padding: 30px 40px;
    background: #fff;
}

.questions .section-head {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: montserrat-light;
    color: #666e78;
}

.questions .file-outer .section-head {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: montserrat-light;
    color: #666e78;
}

.questions .section-head i {
    color: #dcdddf;
    font-size: 23px;
    cursor: pointer;
}

.questions .question-components {
    width: 100%;
    display: inline-block;
}

.questions .question-components .check-comp label {
    margin-bottom: 0;
}

.questions .date-picker-outer .section-head {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: montserrat-light;
    color: #666e78;
    margin-top: -20px;
}


/*theme style end */


/* Checkbox with tick icons */

.check-icon {
    width: 100%;
    padding: 8px 15px;
    border: 2px solid #eee;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    border-bottom: 0;
    font-family: montserrat-light;
}

.check-icon.last {
    border: 2px solid #eee;
}

.check-icon:hover,
.check-icon.last:hover {
    background: #f9f9f9;
    cursor: pointer;
}

.check-icon input[type="checkbox"] {
    left: -9999px;
    position: absolute;
}

.check-icon label {
    content: "";
    width: 24px;
    height: 24px;
    border: 2px solid #00aea5;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 0px;
    position: relative;
    top: 8px;
}

.check-icon input[type="checkbox"]:checked + label {
    background-color: #00aea5;
    border: none;
    top: 1px;
}

.check-icon.gray-bg {
    background: #f9f9f9;
}

.check-icon label::after {
    display: inline-block;
    position: relative;
    /* width: 11px; */
    height: auto;
    left: 2px;
    top: 4px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    height: 0px;
    /* line-height: 34px; */
}

.check-icon input[type="checkbox"]:checked + label::after {
    font-family: "Material Icons";
    content: "\e5ca";
}

.check-icon div {
    line-height: 38px;
    display: inherit;
}


/* Checkbox as icons */

.check-icon div {
    line-height: 38px;
    display: inherit;
}

.check-icon label {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    margin: 0px 10px 0px 0px;
}

.check-icon input[type="checkbox"]:checked + div {
    background-color: #00aea5;
    border: none;
    color: #fff;
}

.check-icon input[type="checkbox"]:checked + div label {
    background-color: #fff;
    border: none;
    margin-bottom: 5px;
}

.check-icon input[type="checkbox"]:checked + div label::after {
    font-family: "Material Icons";
    content: "\e5ca";
}

.ic label {
    content: none;
    border: none;
    height: auto;
    width: auto;
    color: #00aea5;
}

.ic input[type="checkbox"]:checked + label::after {
    content: none;
}

.ic input[type="checkbox"]:checked + label {
    color: #00aea5;
    background: none;
    top: 8px;
}

.ic i {
    font-size: 24px;
    line-height: 1;
}


/* Radio Buttons */

.radio-icon {
    width: 100%;
    /*padding: 12px 15px; */
    border: 2px solid #eee;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    border-bottom: 0;
    font-family: montserrat-light;
}

input {
    cursor: pointer;
}

.radio-icon .active {
    background: #f9f9f9;
}

.radio-icon.last {
    border: 2px solid #eee;
}

.radio-icon:hover,
.radio-icon.last:hover {
    background: #f9f9f9;
    cursor: pointer;
}

.radio-icon .radio-btn label .radio-btn input[type="radio"]:checked+label {
    color: #00aea5;
    font-size: 15px;
}

.radio-icon .radio-btn input[type="radio"]:checked+label::after {
    border: 3px solid #00aea5;
}

.radio-icon .radio-btn input[type="radio"]:checked+label::before {
    background: #00aea5;
}

.radio-icon .radio-btn label::after {
    border: 3px solid #00aea5;
}

.radio-btn {
    position: relative;
    padding: 15px 20px
}

.radio-icon .radio-btn label {
    font-weight: 500;
}

.radio-icon .radio-btn input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.radio-btn label {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    color: #424242
}

.radio-btn label::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    left: 0;
    top: 0;
    margin-left: 0px;
    background-color: #ffffff;
    border: 3px solid #00aea5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    cursor: pointer
}

.radio-btn label::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    top: 6px;
    left: 6px;
    margin-left: 0px;
    border: 3px solid #00aea5;
    border-top: none;
    border-right: none;
    background: transparent;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    z-index: 1
}

.radio-btn label:active::before {
    opacity: 0.3
}

.radio-btn input[type="radio"]:checked+label {
    color: #000
}

.radio-btn input[type="radio"]:checked+label::after {
    border: 3px solid #000
}

.radio-btn input[type="radio"]:checked+label::before {
    opacity: 1
}

.radio-btn input[type="radio"]:disabled+label {
    color: #787878;
    cursor: default
}

.radio-btn input[type="radio"]:disabled+label::after {
    border: 3px solid #787878;
    background-color: #ffffff
}

.radio-btn input[type="radio"]:disabled+label::before {
    display: none
}

.radio-btn label::after {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box
}

.radio-btn label::before {
    width: 9px;
    height: 9px;
    border: none;
    top: 6px;
    left: 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #00aea5;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}


/* counter Buttons */

.counter {
    float: left;
    padding: 5px;
    border: 1px solid #dcdddf;
    font-family: montserrat-light;
    margin-bottom: 20px;
}

.qty {
    width: 100px !important;
    height: 25px;
    text-align: center;
    float: left;
    border: none !important;
    margin-bottom: 0 !important;
    font-size: 16px !important;
}

.qtyplus {
    width: 25px;
    height: 25px;
    background: none;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    color: #00aea5;
}

.qtyminus {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    color: #00aea5;
}

.qtyminus .material-icons,
.qtyplus .material-icons {
    font-size: 20px !important
}


/* switch Buttons */

.switch-outer {
    width: 100%;
    float: left;
    padding: 8px 15px;
    border: 2px solid #eee;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    border-bottom: 0;
    font-family: montserrat-light;
}

.switch-outer.last {
    border-bottom: 2px solid #eee;
}

.switch-outer .switch-que {
    float: left;
    padding: 12px;
    font-size: 16px;
    font-family: montserrat-light;
    color: #232f3f;
}

.switch-outer .switch {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}

.switch-outer .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch-outer .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch-outer input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 62px;
    height: 30px;
    background-color: #00aea5;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

.switch-outer input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch-outer input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

.switch-outer input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 23px;
    background-color: #00aea5;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}

.switch-outer input.cmn-toggle-round-flat:checked + label {
    background-color: #00aea5;
}

.switch-outer input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #00aea5;
}


/*input*/

.input-icon {
    color: initial;
    position: relative;
    top: -60px;
    font-size: 16px;
    background: none;
    border: none;
    text-align: right;
    padding: 6px 10px 6px 20px;
}

.input-group-addon.input-icon {
    color: #00aea5;
}


/*File Upload*/

.file-field {
    position: relative;
}

.input-field {
    position: relative;
    max-height: 54px;
    margin-bottom: 2rem;
    float: left;
    width: 100%;
    font-family: montserrat-light
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 9;
}

.file-field .input-icon {
    left: 1px;
    /* top: 8px; */
    color: #00aea5;
    font-size: 24px;
    text-align: left;
}

.file-field input[type=text] {
    padding-left: 55px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Range slider */

.slider-selection {
    background: none;
    background-color: #00aea5;
    box-shadow: none;
}

.slider-track-low,
.slider-track-high {
    background: #ccc;
}

.slider-handle {
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    border: 4px solid #00aea5;
    width: 18px;
    height: 18px;
}

.tooltip-inner {
    padding: 3px 10px;
    font-size: 16px;
    background-color: #00aea5;
    border-radius: 0px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #00aea5;
}

.slider .tooltip.top {
    margin-top: -49px;
}

.slider.slider-horizontal {
    width: 100%;
}

.slider.slider-horizontal .slider-track {
    height: 6px;
}

.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
    top: 1px;
}

.slider-track .slider-tick {
    background: #ccc;
    opacity: 1;
}

.slider-tick.in-selection,
.slider-tick {
    background-image: none;
    background: #00aea5;
    width: 18px;
    height: 18px;
}

.slider-selection.tick-slider-selection {
    background-image: none;
    background-color: #00aea5;
}

.range {
    font-size: 18px;
    position: relative;
    top: 41px;
    right: -1px;
}

.range-max {
    top: -6px;
    float: right;
}

.slider.slider-horizontal .slider-track {
    height: 4px;
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
    margin-top: -4px;
}

.slider-handle {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #00aea5;
}

.slider-track {
    background: #cccccc;
}

.tooltip-inner {
    background: #00aea5 !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #00aea5
}

.slider-track-low,
.slider-track-high {}

.slider-selection.tick-slider-selection {
    background: #00aea5;
}

.slider-tick.in-selection {
    width: 12px;
    height: 12px;
    background: #00aea5;
}

.slider-tick {
    width: 12px;
    height: 12px;
    background: #cccccc;
}

.cir {
    margin-left: -10px;
    margin-top: 2px;
}

.range-slider {
    text-align: center;
}

.slider.slider-horizontal {
    width: 96%;
    padding: 30px 0
}

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
    font-family: montserrat-light;
    font-size: 16px;
    color: #00aea5;
    width: 100%;
}

.slider.slider-horizontal .slider-tick-label-container {
    white-space: nowrap;
    margin-top: 3px !important;
}

.tooltip.top .tooltip-arrow {
    margin-left: -8px !important;
}


/*selectbox style start*/

.selectize-input {
    border: 1px solid #d9dad3;
    padding: 15px 15px 15px 50px;
    width: 100%;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: montserrat-light;
    font-size: 14px;
}

.selectize-input .item {
    font-family: montserrat-light;
    font-size: 14px;
}

.selectize-dropdown .active {
    background-color: #3db39e;
    color: #ffffff;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 15px;
    font-family: montserrat-light;
    font-size: 14px;
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
    border-color: #d9dad3;
}

.control-group {
    position: relative;
    font-family: montserratregular;
}

.select-icon {
    position: absolute;
    z-index: 9;
    top: 13px;
    font-size: 24px;
    left: 16px;
    color: #07938c;
}


/*Components end */


/*Result Section Style */

.result-section {
    background: #f9f9f9;
    width: 100%;
    height: 100vh;
    position: absolute;
    font-family: montserratregular;
    display: table;
}

.result-section .top-head {
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    background: #eeeeee;
    min-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    font-family: montserratregular;
    padding: 10px 50px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.result-section .top-head .top-left {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.result-section .top-head .top-right {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.result-section .top-head h4 {
    color: #6f7072;
    font-size: 24px;
    text-transform: uppercase;
    font-family: montserratregular;
}

.result-section .top-head h4 span {
    color: #00aea5;
    font-size: 24px;
}

.result-section .share-link {
    float: left;
    text-align: right;
}

.result-section .share-link ul {
    margin: 5px 0;
    padding: 0;
    float: right;
}

.result-section .share-link ul li {
    float: left;
    display: inline-block;
}

.result-section .share-link ul li span {
    padding: 0px 10px;
    color: #00aea5;
    font-size: 18px;
    font-weight: bold;
}

.result-section .share-link ul li a {
    float: left;
    display: inline-block;
    text-decoration: none;
    color: #6e7071;
    font-size: 18px;
    padding: 5px;
}

.result-section .share-link ul li a .material-icons {
    font-size: 18px !important;
    margin-top: 3px;
}

.result-section .share-link span i {
    margin-top: 8px;
    font-size: 16px;
    margin-left: 6px;
    color: #6e6f71;
}

.result-section .share-link span li {
    border-left: 1px dotted #6e6f71;
    height: 18px;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.result-section ul li h6 {
    color: #6e6f71;
    margin-right: 12px;
}

.result-section .content-left {
    float: left;
    width: 70%;
    background: #fff;
    padding: 40px;
    height: 90vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.result-section .content-left h4 {
    color: #00aea5;
    text-align: center;
    font-size: 30px;
    font-family: montserratregular;
}

.result-section .content-left h5 {
    color: #00aea5;
    text-align: center;
    font-size: 14px;
    font-family: montserratregular;
    margin: 0;
    line-height: 22px;
    text-transform: uppercase;
}

.result-section .content-left h6 {
    color: #9a9a9a;
    text-align: center;
    font-size: 14px;
    font-family: montserratregular;
    margin: 0;
    line-height: 22px;
}

.result-section .content-left .small-section {
    float: left;
    padding: 5% 10px;
    width: 33.3%;
}

.grey-color {
    color: #9a9a9a !important;
}

.result-section .content-left .small-section h4 {
    color: #999;
    text-align: center;
    font-size: 24px;
    font-family: montserratregular;
}

.result-section .content-left .input-section {
    float: left;
    width: 85%;
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    margin: 0 8%;
}

.result-section .content-left .input-section input {
    width: 43% !important;
    margin: 8px !important;
    border: 2px solid #cccccc !important;
    color: #b9b9b9;
    font-family: montserratregular;
    font-size: 14px !important;
    background: #ffffff;
}

.bordered-btn {
    background-color: #f9f9f9;
    color: #00afa5;
    padding: 10px 40px;
    border: 2px solid #00afa5;
    text-decoration: none !important;
    transition: background-color 0.5s ease;
}

.bordered-btn:hover {
    background-color: #00afa5;
    color: #fff;
}

.result-section .content-right {
    float: left;
    width: 30%;
    padding: 0 10px;
    height: 90vh;
}


/*Result Section Style */

.section-head .help-text {
    display: none;
    width: 250px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 8px;
    left: 24%;
    font-size: 12px;
    position: absolute;
    color: #999;
    line-height: 18px;
    font-family: montserrat-light;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(224, 221, 224, 1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(224, 221, 224, 1);
    box-shadow: 3px 3px 10px 0px rgba(224, 221, 224, 1);
}

.section-head i:hover + .help-text {
    display: block !important
}


/*New Radio Style */

.radio-outer {
    border: 2px solid #eee;
    border-bottom: 0;
    font-family: montserrat-light;
}

.radio-outer:last-child {
    border: 2px solid #eee;
}

.lable-style {
    padding: 15px 30px;
    margin-left: 22px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 16px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 3px solid #00aea5;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control input:checked ~ .control__indicator {
    background: #00aea5;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--radio .control__indicator:after {
    left: 0px;
    top: 0px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #00aea5;
    border: 3px solid #fff;
}

.control--radio .control__indicator.icon-set {
    border: none !important;
    top: 14px;
    left: -5px;
    color: #00aea5;
}

.control--radio .control__indicator.icon-set:after {
    left: 0px;
    top: 0px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: none;
    border: none;
}

.control input:checked ~ .control__indicator.icon-set {
    background: none;
}


/*New Checkbox Style */

.checkbox-outer-base {
    border: 2px solid #eee;
    border-bottom: 0;
    font-family: montserrat-light;
}

.checkbox-outer-base:last-child {
    border: 2px solid #eee;
}

.checkbox-outer {
    border: 2px solid #eee;
    border-bottom: 0;
    font-family: montserrat-light;
}

.checkbox-outer:last-child {
    border: 2px solid #eee;
}

.control__indicator.check-set {
    left: 16px !important;
    border: 2px solid #00aea5;
}

.control--checkbox {
    padding: 15px 45px;
}

.control--checkbox .control__indicator:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.check-comp .checkbox-outer .control__indicator.check-set {
    border: none;
    left: 12px;
    color: #00aea5;
}

.check-comp .checkbox-outer .control input:checked ~ .control__indicator {
    background: none;
    color: #00aea5;
}

.check-comp .checkbox-outer .control--checkbox .control__indicator:after {
    border: none;
}

.check-comp .checkbox-outer .control--checkbox {
    padding: 15px 50px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border-radius: 0;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #eee;
    font-family: montserrat-light;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000;
    background: #fff;
    padding: 10px 15px;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}

.select select .option {
    padding: 10px;
}

.select select > option {
    background: #eee !important;
    padding: 20px !important;
}

.select select > option:hover {
    background: #ccc !important;
    padding: 20px !important;
}


/*New circle outer*/

.circle-outer {
    float: left;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.circle-outer .icon-outer {
    color: #00aea5;
}

.circle-outer .icon-outer i {
    font-size: 40px;
}

.circle-outer .num-circle-outer {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #00aea5;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    font-family: montserratregular;
}

input[type='range'] {
    display: block;
    margin: 1em auto;
    border: solid 0 transparent;
    border-width: 0 1em;
    padding: 0;
    height: 4em;
    border-radius: .25em;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    position: relative;
}

input[type='range']::-ms-track {
    border: none;
    color: transparent;
}

input[type='range']::-webkit-slider-thumb {
    border: none;
    border-radius: 50%;
    cursor: ew-resize;
}

input[type='range']::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    cursor: ew-resize;
}

input[type='range']::-ms-thumb {
    border: none;
    border-radius: 50%;
    cursor: ew-resize;
}

input[type='range']::-webkit-slider-runnable-track:before,
input[type='range']::-webkit-slider-runnable-track:after,
input[type='range'] /deep/ #track:before,
input[type='range'] /deep/ #track:after,
input[type='range']::-webkit-slider-thumb:before,
input[type='range']::-webkit-slider-thumb:after,
input[type='range'] /deep/ #thumb:before,
input[type='range'] /deep/ #thumb:after {
    position: absolute;
}

input[type='range']::-webkit-slider-runnable-track:after,
input[type='range'] /deep/ #track:after,
input[type='range']::-webkit-slider-thumb:after,
input[type='range'] /deep/ #thumb:after {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font: 0.75em / 2 arial, sans-serif;
    white-space: nowrap;
}

input[type='range']:nth-of-type(1) {
    /*overflow: hidden;
  width: 6em;*/
}

input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track {
    width: 6em;
    height: 1em;
    background: #13bba4;
    background: transparent;
}

input[type='range']:nth-of-type(1)::-moz-range-track {
    width: 6em;
    height: 1em;
    background: #13bba4;
}

input[type='range']:nth-of-type(1)::-ms-track {
    width: 6em;
    height: 1em;
    background: #13bba4;
}

input[type='range']:nth-of-type(1)::-moz-range-progress {
    border: none;
    height: 1em;
    background: #feac2f;
}

input[type='range']:nth-of-type(1)::-ms-fill-lower {
    border: none;
    height: 1em;
    background: #feac2f;
}

input[type='range']:nth-of-type(1)::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    border-radius: 0;
    background: #feac2f;
    background: transparent;
    position: relative;
}

input[type='range']:nth-of-type(1)::-moz-range-thumb {
    width: 1em;
    height: 1em;
    border-radius: 0;
    background: #feac2f;
}

input[type='range']:nth-of-type(1)::-ms-thumb {
    width: 1em;
    height: 1em;
    border-radius: 0;
    background: #feac2f;
}

input[type='range']:nth-of-type(1)::-ms-tooltip {
    display: none;
}

input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:before,
input[type='range']:nth-of-type(1) /deep/ #track:before {
    color: #13bba4;
    content: '★★★★★★';
}

.js input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:after,
.js input[type='range']:nth-of-type(1) /deep/ #track:after {
    content: "Rating 4/6";
}

input[type='range']:nth-of-type(1)::-webkit-slider-thumb:before,
input[type='range']:nth-of-type(1) /deep/ #thumb:before {
    color: #feac2f;
    text-shadow: -1em 0, -2em 0, -3em 0, -4em 0, -5em 0;
    content: '★';
}

input[type='range']:nth-of-type(2) {
    overflow: hidden;
    width: 100%;
}

input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 100%;
    height: 0.375em;
    border-radius: 0.1875em;
    box-shadow: inset 0 0 0 1px #ccc;
    background: transparent;
}

.js input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: solid 1px transparent;
    box-shadow: none;
    background: -webkit-linear-gradient(#f7722d, #f7722d) no-repeat content-box, -webkit-linear-gradient(#ffffff, #ffffff) no-repeat border-box, -webkit-linear-gradient(#ffffff, #ffffff) content-box, -webkit-linear-gradient(#cccccc, #cccccc) border-box;
    background: linear-gradient(#f7722d, #f7722d) no-repeat content-box, linear-gradient(#ffffff, #ffffff) no-repeat border-box, linear-gradient(#ffffff, #ffffff) content-box, linear-gradient(#cccccc, #cccccc) border-box;
    background-size: 50% 100%;
}

input[type='range']:nth-of-type(2)::-moz-range-track {
    box-sizing: border-box;
    width: 12em;
    height: 0.375em;
    border-radius: 0.1875em;
    box-shadow: inset 0 0 0 1px #ccc;
    background: transparent;
}

input[type='range']:nth-of-type(2)::-ms-track {
    box-sizing: border-box;
    width: 12em;
    height: 0.375em;
    border-radius: 0.1875em;
    box-shadow: inset 0 0 0 1px #ccc;
    background: transparent;
}

input[type='range']:nth-of-type(2)::-moz-range-progress {
    box-sizing: border-box;
    border: solid 1px #fff;
    height: 0.375em;
    border-radius: 0.1875em;
    background: #f7722d;
}

input[type='range']:nth-of-type(2)::-ms-fill-lower {
    box-sizing: border-box;
    border: solid 1px #fff;
    height: 10em;
    border-radius: 0.1875em;
    background: #f7722d;
}

input[type='range']:nth-of-type(2)::-webkit-slider-thumb {
    margin-top: -0.125em;
    width: 0.625em;
    height: 0.625em;
    background: #4ed5e9;
    box-shadow: -1px 0 0 -0.1875em #f7722d, -2px 0 0 -0.1875em #f7722d, -3px 0 0 -0.1875em #f7722d, -4px 0 0 -0.1875em #f7722d, -5px 0 0 -0.1875em #f7722d, -6px 0 0 -0.1875em #f7722d, -7px 0 0 -0.1875em #f7722d, -8px 0 0 -0.1875em #f7722d, -9px 0 0 -0.1875em #f7722d, -10px 0 0 -0.1875em #f7722d, -11px 0 0 -0.1875em #f7722d, -12px 0 0 -0.1875em #f7722d, -13px 0 0 -0.1875em #f7722d, -14px 0 0 -0.1875em #f7722d, -15px 0 0 -0.1875em #f7722d, -16px 0 0 -0.1875em #f7722d, -17px 0 0 -0.1875em #f7722d, -18px 0 0 -0.1875em #f7722d, -19px 0 0 -0.1875em #f7722d, -20px 0 0 -0.1875em #f7722d, -21px 0 0 -0.1875em #f7722d, -22px 0 0 -0.1875em #f7722d, -23px 0 0 -0.1875em #f7722d, -24px 0 0 -0.1875em #f7722d, -25px 0 0 -0.1875em #f7722d, -26px 0 0 -0.1875em #f7722d, -27px 0 0 -0.1875em #f7722d, -28px 0 0 -0.1875em #f7722d, -29px 0 0 -0.1875em #f7722d, -30px 0 0 -0.1875em #f7722d, -31px 0 0 -0.1875em #f7722d, -32px 0 0 -0.1875em #f7722d, -33px 0 0 -0.1875em #f7722d, -34px 0 0 -0.1875em #f7722d, -35px 0 0 -0.1875em #f7722d, -36px 0 0 -0.1875em #f7722d, -37px 0 0 -0.1875em #f7722d, -38px 0 0 -0.1875em #f7722d, -39px 0 0 -0.1875em #f7722d, -40px 0 0 -0.1875em #f7722d, -41px 0 0 -0.1875em #f7722d, -42px 0 0 -0.1875em #f7722d, -43px 0 0 -0.1875em #f7722d, -44px 0 0 -0.1875em #f7722d, -45px 0 0 -0.1875em #f7722d, -46px 0 0 -0.1875em #f7722d, -47px 0 0 -0.1875em #f7722d, -48px 0 0 -0.1875em #f7722d, -49px 0 0 -0.1875em #f7722d, -50px 0 0 -0.1875em #f7722d, -51px 0 0 -0.1875em #f7722d, -52px 0 0 -0.1875em #f7722d, -53px 0 0 -0.1875em #f7722d, -54px 0 0 -0.1875em #f7722d, -55px 0 0 -0.1875em #f7722d, -56px 0 0 -0.1875em #f7722d, -57px 0 0 -0.1875em #f7722d, -58px 0 0 -0.1875em #f7722d, -59px 0 0 -0.1875em #f7722d, -60px 0 0 -0.1875em #f7722d, -61px 0 0 -0.1875em #f7722d, -62px 0 0 -0.1875em #f7722d, -63px 0 0 -0.1875em #f7722d, -64px 0 0 -0.1875em #f7722d, -65px 0 0 -0.1875em #f7722d, -66px 0 0 -0.1875em #f7722d, -67px 0 0 -0.1875em #f7722d, -68px 0 0 -0.1875em #f7722d, -69px 0 0 -0.1875em #f7722d, -70px 0 0 -0.1875em #f7722d, -71px 0 0 -0.1875em #f7722d, -72px 0 0 -0.1875em #f7722d, -73px 0 0 -0.1875em #f7722d, -74px 0 0 -0.1875em #f7722d, -75px 0 0 -0.1875em #f7722d, -76px 0 0 -0.1875em #f7722d, -77px 0 0 -0.1875em #f7722d, -78px 0 0 -0.1875em #f7722d, -79px 0 0 -0.1875em #f7722d, -80px 0 0 -0.1875em #f7722d, -81px 0 0 -0.1875em #f7722d, -82px 0 0 -0.1875em #f7722d, -83px 0 0 -0.1875em #f7722d, -84px 0 0 -0.1875em #f7722d, -85px 0 0 -0.1875em #f7722d, -86px 0 0 -0.1875em #f7722d, -87px 0 0 -0.1875em #f7722d, -88px 0 0 -0.1875em #f7722d, -89px 0 0 -0.1875em #f7722d, -90px 0 0 -0.1875em #f7722d, -91px 0 0 -0.1875em #f7722d, -92px 0 0 -0.1875em #f7722d, -93px 0 0 -0.1875em #f7722d, -94px 0 0 -0.1875em #f7722d, -95px 0 0 -0.1875em #f7722d, -96px 0 0 -0.1875em #f7722d, -1px 0 0 #fff, -2px 0 0 #fff, -3px 0 0 #fff, -4px 0 0 #fff, -5px 0 0 #fff, -6px 0 0 #fff, -7px 0 0 #fff, -8px 0 0 #fff, -9px 0 0 #fff, -10px 0 0 #fff, -11px 0 0 #fff, -12px 0 0 #fff, -13px 0 0 #fff, -14px 0 0 #fff, -15px 0 0 #fff, -16px 0 0 #fff, -17px 0 0 #fff, -18px 0 0 #fff, -19px 0 0 #fff, -20px 0 0 #fff, -21px 0 0 #fff, -22px 0 0 #fff, -23px 0 0 #fff, -24px 0 0 #fff, -25px 0 0 #fff, -26px 0 0 #fff, -27px 0 0 #fff, -28px 0 0 #fff, -29px 0 0 #fff, -30px 0 0 #fff, -31px 0 0 #fff, -32px 0 0 #fff, -33px 0 0 #fff, -34px 0 0 #fff, -35px 0 0 #fff, -36px 0 0 #fff, -37px 0 0 #fff, -38px 0 0 #fff, -39px 0 0 #fff, -40px 0 0 #fff, -41px 0 0 #fff, -42px 0 0 #fff, -43px 0 0 #fff, -44px 0 0 #fff, -45px 0 0 #fff, -46px 0 0 #fff, -47px 0 0 #fff, -48px 0 0 #fff, -49px 0 0 #fff, -50px 0 0 #fff, -51px 0 0 #fff, -52px 0 0 #fff, -53px 0 0 #fff, -54px 0 0 #fff, -55px 0 0 #fff, -56px 0 0 #fff, -57px 0 0 #fff, -58px 0 0 #fff, -59px 0 0 #fff, -60px 0 0 #fff, -61px 0 0 #fff, -62px 0 0 #fff, -63px 0 0 #fff, -64px 0 0 #fff, -65px 0 0 #fff, -66px 0 0 #fff, -67px 0 0 #fff, -68px 0 0 #fff, -69px 0 0 #fff, -70px 0 0 #fff, -71px 0 0 #fff, -72px 0 0 #fff, -73px 0 0 #fff, -74px 0 0 #fff, -75px 0 0 #fff, -76px 0 0 #fff, -77px 0 0 #fff, -78px 0 0 #fff, -79px 0 0 #fff, -80px 0 0 #fff, -81px 0 0 #fff, -82px 0 0 #fff, -83px 0 0 #fff, -84px 0 0 #fff, -85px 0 0 #fff, -86px 0 0 #fff, -87px 0 0 #fff, -88px 0 0 #fff, -89px 0 0 #fff, -90px 0 0 #fff, -91px 0 0 #fff, -92px 0 0 #fff, -93px 0 0 #fff, -94px 0 0 #fff, -95px 0 0 #fff, -96px 0 0 #fff;
}

.js input[type='range']:nth-of-type(2)::-webkit-slider-thumb {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: none;
}

input[type='range']:nth-of-type(2)::-moz-range-thumb {
    width: 12em;
    height: 0.625em;
    background: #4ed5e9;
}

input[type='range']:nth-of-type(2)::-ms-thumb {
    width: 0.625em;
    height: 0.625em;
    background: #4ed5e9;
}

.js input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track:after,
.js input[type='range']:nth-of-type(2) /deep/ #track:after {
    content: "100%";
}

input[type='range']:nth-of-type(3) {
    width: 13.5em;
}

input[type='range']:nth-of-type(3)::-webkit-slider-runnable-track {
    width: 13.5em;
    height: 1em;
    border-radius: 0.5em;
    background: -webkit-radial-gradient(0.5em 50% circle, rgba(0, 0, 0, 0) 0.3125em, #4ed5e9 0.3125em, #4ed5e9 0.5em, rgba(0, 0, 0, 0) 0.5em), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 1em, #4ed5e9 1em) repeat-x 0 50%;
    background: radial-gradient(circle at 0.5em 50%, rgba(0, 0, 0, 0) 0.3125em, #4ed5e9 0.3125em, #4ed5e9 0.5em, rgba(0, 0, 0, 0) 0.5em), linear-gradient(90deg, rgba(0, 0, 0, 0) 1em, #4ed5e9 1em) repeat-x 0 50%;
    background-size: 6.25em 1em, 6.25em 0.25em;
}

input[type='range']:nth-of-type(3)::-moz-range-track {
    width: 13.5em;
    height: 1em;
    border-radius: 0.5em;
    background: radial-gradient(circle at 0.5em 50%, rgba(0, 0, 0, 0) 0.3125em, #4ed5e9 0.3125em, #4ed5e9 0.5em, rgba(0, 0, 0, 0) 0.5em), linear-gradient(90deg, rgba(0, 0, 0, 0) 1em, #4ed5e9 1em) repeat-x 0 50%;
    background-size: 6.25em 1em, 6.25em 0.25em;
}

input[type='range']:nth-of-type(3)::-ms-track {
    width: 13.5em;
    height: 1em;
    border-radius: 0.5em;
    background: radial-gradient(circle at 0.5em 50%, rgba(0, 0, 0, 0) 0.3125em, #4ed5e9 0.3125em, #4ed5e9 0.5em, rgba(0, 0, 0, 0) 0.5em), linear-gradient(90deg, rgba(0, 0, 0, 0) 1em, #4ed5e9 1em) repeat-x 0 50%;
    background-size: 6.25em 1em, 6.25em 0.25em;
}

input[type='range']:nth-of-type(3)::-moz-range-progress {
    display: none;
}

input[type='range']:nth-of-type(3)::-ms-fill-lower {
    display: none;
}

input[type='range']:nth-of-type(3)::-webkit-slider-thumb {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    width: 1em;
    height: 1em;
    background: #dea649;
    background-clip: content-box;
}

input[type='range']:nth-of-type(3)::-moz-range-thumb {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    width: 1em;
    height: 1em;
    background: #dea649;
    background-clip: content-box;
}

input[type='range']:nth-of-type(3)::-ms-thumb {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    width: 1em;
    height: 1em;
    background: #dea649;
    background-clip: content-box;
}

input[type='range']:nth-of-type(3)::-ms-tooltip {
    display: none;
}

input[type='range']:nth-of-type(3)::-webkit-slider-runnable-track:after,
input[type='range']:nth-of-type(3) /deep/ #track:after {
    bottom: 100%;
    word-spacing: 4.33333em;
    content: "Step-01 Step-02 Step-03";
}

input[type='range']:focus {
    outline: none;
    box-shadow: 0 0 1px grey;
}


/* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Float the list items side by side */

ul.topnav li {
    float: left;
}


/* Style the links inside the list items */

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of links on hover */

ul.topnav li a:hover {
    color: #555;
}


/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {
    display: none;
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {
    ul.topnav li:not(: first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {
    ul.topnav.responsive li h6 {
        display: none;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}


/*Responsive Tab */

.responsive-menu {
    background: rgba(66, 80, 104, 0.77);
    color: #fff;
    width: 360px;
    text-align: center;
    padding: 6px 10px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
    font-size: 13px;
}

.responsive-menu a {
    color: #fff;
    padding: 0 3px;
    display: inline-block;
}

.responsive-menu a span {
    margin-top: -20px;
    margin-left: 13px;
    float: right;
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.31);
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
}

.responsive-menu span.title {
    margin-right: 26px;
    float: left;
    margin-top: 7px;
    margin-left: 40px;
}

.responsive-menu div {
    float: left;
    margin-top: 4px;
}

.desktop {
    width: 100%;
    height: 100%;
}

.mobile {
    width: 375px;
    margin: 0 auto;
    height: 100%;
    border: 1px solid #dcdddf;
}

.tablet {
    width: 775px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #dcdddf;
}


/* End of responsive tab */
