.radio-icon {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #eee;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    border-bottom: 0;
    font-family: montserrat-light;
}
.radio-icon .last {
    border: 2px solid #eee;
}
.radio-icon:hover,
.radio-icon.last:hover {
    background: #f9f9f9;
    cursor: pointer;
}
.radio-icon .radio-btn label .radio-btn input[type="radio"]:checked+label {
    color: #00aea5;
    font-size: 15px;
}
.radio-icon .radio-btn input[type="radio"]:checked+label::after {
    border: 3px solid #00aea5;
}
.radio-icon .radio-btn input[type="radio"]:checked+label::before {
    background: #00aea5;
}
.radio-icon .radio-btn label::after {
    border: 3px solid #00aea5;
}

.radio-btn {
    position: relative;
    padding-left: 20px
}

.radio-icon .radio-btn input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
	font-weight: 500;
}
.radio-btn label {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
    color: #424242
}
.radio-btn label::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    left: 0;
    top: 0;
    margin-left: -18px;
    background-color: #ffffff;
    border: 3px solid #00aea5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
	
    cursor: pointer
}
.radio-btn label::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    top: 6px;
    left: 6px;
    margin-left: -18px;
    border: 3px solid #00aea5;
    border-top: none;
    border-right: none;
    background: transparent;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    z-index: 1
}
.radio-btn label:active::before {
    opacity: 0.3
}

.radio-btn input[type="radio"]:checked+label {
    color: #000
}

.radio-btn input[type="radio"]:checked+label::after {
    border: 3px solid #000
}

.radio-btn input[type="radio"]:checked+label::before {
    opacity: 1
}

.radio-btn input[type="radio"]:disabled+label {
    color: #787878;
    cursor: default
}

.radio-btn input[type="radio"]:disabled+label::after {
    border: 3px solid #787878;
    background-color: #ffffff
}

.radio-btn input[type="radio"]:disabled+label::before {
    display: none
}
.radio-btn label::after {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box
}
.radio-btn label::before {
    width: 9px;
    height: 9px;
    border: none;
    top: 6px;
    left: 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #00aea5;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}