@media (min-width: 0px) and (max-width: 767px){
   body{
       overflow-y: scroll;
   }
   .sec-container{
        margin: 0 auto;
        margin-top: 100px;
        width:100%;
    }
    .sec2-bg .sec-container{
        margin: 50px auto;
        width: 90%;
    }
    .logo-top{
        right: 0px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        position: absolute;
        top: -17px;
    }
    .sec1-text{
        width: 90%;
        margin-left: 20px;
    }
    .sec-catergory{
        width: 80%;
    }
    .sec1-text span{
        background: #f4f4f4;
        font-size: 44px;
        line-height: 74px;
        margin-left: 20px;
        padding: 5px 10px;
    }
    .sec1-button{
        background: #f4f4f4;
        padding: 15px 60px;
        margin-left: 40px;
    }
    .sec-catergory .selectize-control.single .selectize-input{
        font-size: 14px;
    }
    .sec-catergory .selectize-control.single .selectize-input input{
        font-size: 14px;
    }
    .sec-catergory .selectize-control.single .selectize-input:after{
        border-width: 5px 5px 0 5px;
    }
    .sec-catergory .selectize-control.single .selectize-input.dropdown-active:after{ border-color: transparent transparent #0f0e0e transparent;
        border-width: 0 5px 5px 5px;    
    }
    .sec-catergory .selectize-control.single .selectize-dropdown{
        top: 86px !important;
        width: 100% !important;
    }
    .sec2-step{
        position: relative;
        top: 30px;
        left: 0px;
        margin-bottom: 25px;
    }
    .sec3-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec4-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec-catergory input.sec-input{
        font-size: 14px;
    }
    .sec-button{
        font-size: 14px;
        padding: 15px 45px;
        margin-top: 30px;
    }
    .sec-cate-1{
        width: 80%;
        text-align: center;
    }
    .sec-button-update{
        float: none;
    }
    .sec-cate-1 .selectize-control.single .selectize-input{
        margin-top: 15px;
    }
    .sec-button-update{
        margin-top: 15px;
    }
    .sec-cate-1 .selectize-control.single .selectize-dropdown{
        top: 54px !important;
    }
    .sec-cat-carousel{
        float: left;
        width: 90%;
        padding-left: 20px;
    }
    .sec-cat-carousel .owl-controls{
        bottom: -40px;
        left: 0;
        top: inherit;
        right: inherit;
        width: 100px;
        margin: 0 auto;
        position: relative;
    }
    .xs-img-hover{
        width: 90%;
        height: 0;
        padding-bottom: 70%;
    }
    .sec5-bg{
        padding-bottom: 50px;
    }
    .overlay-outer {
        height: 100%;
    }
    .overlay{
        font-size: 20px;
        line-height: 24px;        
    }
    .sec2-text {
        font-size: 44px;
    }
}

@media screen and (min-width: 480px) and (max-width: 480px) {
    /*.overlay-outer {
        height: 238px;
    }*/
    .xs-img-hover{padding-bottom: 57% !important;}
}
@media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    
    
}
@media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
   
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sec-container{
        margin: 0 auto;
        margin-top: 70px;
        width:100%;
    }
    .sec2-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec-cate-1{
        width: 28%;
        text-align: center;
    }
    .sec1-text{
        width: 90%;
        margin-left: 20px;
    }
    .sec1-text span{
        background: #f4f4f4;
        font-size: 60px;
        line-height: 96px;
        margin-left: 20px;
        padding: 5px 10px;
    }
    .sec1-button{
        background: #f4f4f4;
        margin-left: 40px;
    }
    .sec2-step{
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 25px;
    }
    .sec3-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec4-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec-catergory input.sec-input{
        font-size: 14px;
    }
    .sec-button{
        font-size: 14px;
        padding: 15px 45px;
        margin-top: 30px;
    }
    .sec-cate-1 .selectize-control.single .selectize-input{
        margin-top: 15px;
    }
    .sec-button-update{
        margin-top: 15px;
    }
    .sec-cate-1 .selectize-control.single .selectize-dropdown{
        top: 54px !important;
        width: 100% !important;
    }
    .xs-img-hover{
        width: 85%;
        height: 0;
        padding-bottom: 66%;
    }
    .overlay{
        font-size: 24px;
        line-height: 28px;
    }
    .sec-catergory .selectize-control.single .selectize-dropdown {
        width: 100% !important;
    }
    .sec-cat-carousel {
        padding-left: 35px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape){
    
}
@media (min-width: 1024px) and (max-width: 1365px){
    .sec1-text span{
        font-size: 62px;
        line-height: normal;
        margin-left: 0px;
    }
    .sec1-button{
        margin-left: 5px;
    }
    .sec-cate-1{
        width: 20%;
        text-align: center;
    }
    .xs-img-hover{    
        width: 84%;
        height: 0;
        padding-bottom: 74%;
    }
    .overlay{
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape){
    
}   

@media (min-width: 1680px) and (max-width: 1920px){
    .sec-container{
        margin: 0 auto;
        margin-top: 130px;
        width: 1280px;
    }
    .sec1-text{
        margin-left: 20px;
    }
    .sec1-text span{
        font-size: 92px;
        line-height: 106px;
    }
    .sec1-button{
        padding: 23px 100px;
        float: left;
        border: 2px solid #0f0e0e;
        color: #0f0e0e;
        font-family: montserratbold;
        text-decoration: none;
        font-size: 26px;
        text-transform: uppercase;
        margin-left: 20px;
        margin-top: 25px;
        background: #f4f4f4;
        box-shadow: -4px -1px 16px rgba(0,0,0,0.4);
    }
    .sec2-bg .sec-container{
        margin: 0 auto;
        width: 1280px;
    }
    .sec-cat-carousel .owl-controls{
        right: 56px;
    }
    .sec-cate-1 .selectize-control.single .selectize-input{
        padding: 20px;
    }
    .sec-button-update{
        padding: 18px 70px;
    }
    .sec2-text{
        font-size: 58px;
    }
    .sec-catergory .selectize-control.single .selectize-input{
        padding: 20px;
    }
    .sec-catergory input.sec-input{
        padding: 20px;
    }
    .sec-button{
        padding: 18px 100px;
    }
    .sec-catergory .selectize-control.single .selectize-dropdown{
        top: 101px !important;
    }
    .sec-cate-1 .selectize-control.single .selectize-dropdown{
        top: 94px !important;
    }
    
}