body {
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: 'montserratregular' !important;
    font-weight: 300 !important;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background: none;
    border: none;
    box-shadow: none;
    color: #fff;
}

.dash-circle {
    float: left;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #eceff0;
    color: #444f54;
    text-align: center;
    font-family: montserratregular;
    font-size: 24px;
    padding-top: 23px;
    margin-right: 20px;
}

.dash-prog-outer {
    float: left;
    width: 300px;
}

.dash-prog-outer h2 {
    float: left;
    color: #62696d;
    font-size: 24px !important;
    margin-top: 15px;
    margin-bottom: 8px;
    font-family: montserratlight !important;
    margin-left: 0px;
    margin-right: 0px;
}

.dash-prog-outer h5 {
    float: left;
    color: #f56151;
    font-size: 13px;
    font-family: montserratregular;
    text-transform: uppercase;
    margin-top: 0;
}

.circle-sec {
    float: left;
    width: 33%;
}

.circle-cal-outer {
    float: left;
    width: 100px;
}

.circle-cal-outer h2 {
    color: #62696d;
    float: left;
    font-family: montserratregular !important;
    font-size: 24px !important;
    margin: 15px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.circle-cal-outer h5 {
    float: left;
    color: #8e989f;
    font-size: 10px;
    font-family: montserratregular;
    text-transform: uppercase;
    margin-top: 0;
}

.dash-circle-red {
    float: left;
    width: 77px;
    height: 77px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #cbd1d4;
    text-align: center;
    font-family: montserratregular;
    padding-top: 18px;
    margin-right: 20px;
    border: 3px solid #fb545b;
}

.dash-circle-pink {
    float: left;
    width: 77px;
    height: 77px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #cbd1d4;
    text-align: center;
    font-family: montserratregular;
    padding-top: 18px;
    margin-right: 20px;
    border: 3px solid #ff5796;
}

.dash-circle-d-pink {
    float: left;
    width: 77px;
    height: 77px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #cbd1d4;
    text-align: center;
    font-family: montserratregular;
    padding-top: 18px;
    margin-right: 20px;
    border: 3px solid #c859b7;
}

.dash-circle-red i,
.dash-circle-pink i,
.dash-circle-d-pink i {
    font-size: 35px;
}


/* ####  dashboard 3 boxes css start (sahil) ### */

.dashboard-topsec {
    padding-top: 25px;
    margin-top: 72px;
}

.user-outr {
    float: right;
    width: 70%;
    padding: 0;
}

.user-outr li {
    float: left;
}

.user-outr li a {
    float: left;
    width: auto;
    border: 2px solid #dae2e6;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
}

.user-outr li a:hover {
    border: 2px solid #f56151;
}

.user-outr li a img {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-outr li a.add-user {
    float: left;
    width: 35px;
    border: 2px solid #fb545b;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
    background: #fb545b;
    color: #fff;
    height: 35px;
    text-align: center;
    padding-top: 3px;
    margin-top: 3px;
}

.dash-boxes-outr {
    float: left;
    width: 100%;
    border-top: 1px solid #dae2e6;
    min-height: 250px;
    margin-top: 25px;
    padding: 35px;
}

.dash-box {
    border: 1px solid #dae2e6;
    min-height: 250px;
    float: left;
    width: 100%;
    cursor: pointer;
}

.dash-box:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.dash-box figure {
    height: 187px;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: -1;
}

.dash-box-top {
    background-image: url(../images/dash-top.jpg);
    background-size: cover;
    float: left;
    width: 100%;
    min-height: 187px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.dash-box:hover .dash-box-top {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.dash-box-bottom {
    padding: 28px;
    width: 100%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dash-box-bottom ul {
    padding: 0px;
    float: left;
}

.dash-box-bottom ul li {
    float: left;
    width: 100%;
    margin-top: 22px;
}

.dash-box-bottom ul li i {
    float: left;
    color: #ccc;
    font-size: 24px;
    padding-right: 20px;
}

.switch-outr {
    float: right;
}

.dash-box-bottom ul li label.text {
    font-size: 13px;
    color: #999999;
    float: left;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 0px;
    font-weight: normal;
}

.dash-box-bottom ul li span.value {
    font-size: 20px;
    color: #fb545b;
    float: right;
    text-align: right;
}

.dash-box2 {
    float: left;
    width: 100%;
    min-height: 457px;
    cursor: pointer;
}

.dash-box2:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.dash-box2 figure {
    height: 187px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 93%;
    z-index: -1;
}

.dash-box-figure2 {
    min-height: 457px;
}

.dash-top2 {
    background-image: url(../images/dash-top2.jpg);
    background-size: cover;
    float: left;
    width: 100%;
    min-height: 457px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.dash-box2:hover .dash-top2 {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.dash-top2-text {
    float: left;
    width: 100%;
}

.dash-top2-textinner {
    float: left;
    padding: 28px;
    position: absolute;
    min-height: 187px;
    top: 0px;
}

.dash-top2-textinner label {
    float: left;
    width: auto;
    color: #ffffff;
    font-size: 12px;
    line-height: normal;
    font-family: 'montserratlight';
}

.dash-top2-textinner i {
    position: relative;
    float: left;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
}

.dash-top2-textinner h3 {
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
    margin-top: 0px;
}

.dash-top3 {
    background: rgb(248, 248, 248);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(240, 240, 240, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(240, 240, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(240, 240, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0', GradientType=0);
    /* IE6-9 */
    width: 100%;
    min-height: 457px;
}

.dash-top3:hover .dash-top3circletable {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.dash-top3circletable {
    width: 100%;
    float: left;
    text-align: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.dash-top3-circle {
    background: #fcfcfc;
    height: 151px;
    width: 151px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #999999;
    font-size: 13px;
    line-height: normal;
    display: inline-block;
    margin-top: 46px;
    padding-top: 46px;
}

.dash-top3-circle:hover,
.dash-top3-circle:focus {
    color: #fb545b;
}

.dash-top3-circle i {
    display: block;
    color: #fb545b;
    font-size: 24px;
    margin-bottom: 7px;
}

.dash-top3-textinner {
    float: left;
    width: 100%;
    padding: 28px;
}

.dash-top3-textinner label {
    float: left;
    width: auto;
    color: #62696d;
    font-size: 12px;
    line-height: normal;
    font-family: 'montserratlight';
}

.dash-top3-textinner i {
    position: relative;
    float: left;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
}

.dash-top3-textinner h3 {
    float: left;
    width: 100%;
    color: #62696d;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
    margin-top: 0px;
}

.dash-prog-outer .company-dropdown-wrapper {
    margin: 0px;
    margin-left: 5px;
    float: left;
    min-height: 35px;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a i.material-icons {
    font-size: 18px;
    color: #fff;
    padding: 0;
    position: relative;
    top: 5px;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a.add-new-company {
    color: #fff;
    padding: 5px 15px 10px;
    text-transform: capitalize;
    font-family: montserratregular;
    float: left;
    width: 100%;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-toggle {
    line-height: normal !important;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-toggle i {
    color: #62696d;
    font-size: 20px;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-toggle i:hover {
    color: #f87b80;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-toggle span.company-dropdown-title-active {
    width: 90%;
    float: left;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu::before {
    right: 91px;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a.hvr-sweep-to-right::before {
    background: #71787b none repeat scroll 0 0;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu {
    top: 27px;
    left: 62px;
    min-width: 190px;
    font-size: 12px;
    border-radius: 0px;
    /* background: #f87b80; */
    /* color: #fff; */
    background: #62696d;
    border-radius: 4px !important;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
    display: none;
    z-index: 9;
}

.dash-prog-outer .company-dropdown-wrapper:hover .dropdown-menu {
    display: block;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a {
    color: #fff;
    padding: 10px 15px;
    text-transform: capitalize;
    font-family: montserratregular;
    float: left;
    width: 100%;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a .company-block {
    float: left;
    width: 10%;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu >li > a .company-block-inner {
    background: #fff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    color: #62696d;
    text-align: center;
    padding-top: 3px;
    font-size: 11px;
    top: 13px;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu >li > a .company-block-inner {
    background: #fff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    color: #62696d;
    text-align: center;
    padding-top: 3px;
    font-size: 11px;
    top: 13px;
}

.dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a .company-title {
    float: left;
    width: 95%;
}

.company-dropdown-wrapper .dropdown-menu > li > a .company-site {
    float: left;
    width: 95%;
    font-size: 10px;
}

.dash-top2-textinner .company-dropdown-wrapper {
    float: left;
    margin: 0;
    width: 54%;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-toggle {
    line-height: normal;
    text-align: left;
    width: 90%;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-toggle span {
    color: #fff;
    line-height: normal;
    width: 76% !important;
    float: left;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu {
    left: 58px;
    min-width: 155px;
    padding: 10px 0;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu::before {
    right: 65px;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu li a {
    width: 100%;
    padding: 5px 10px;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu li a.hvr-sweep-to-right::before {
    background: #71787b none repeat scroll 0 0;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu .company-block {
    float: left;
    margin-right: 10px;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu .company-block i {
    font-size: 16px;
    color: #fff;
    margin: 0px;
    margin-right: 10px;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu .company-block-content {
    float: left;
    margin: 0px;
}

.dash-top2-textinner .company-dropdown-wrapper .dropdown-menu .company-block-content .company-title {
    float: left;
    width: 100%;
}


/* switch new css (sahil) */

.onoffswitch {
    position: relative;
    width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 13px;
    color: white;
    box-sizing: border-box;
    font-weight: normal;
}

.onoffswitch-inner:before {
    content: "Public";
    padding-left: 10px;
    background-color: #f87b80;
    color: #FFFFFF;
    font-weight: normal;
}

.onoffswitch-inner:after {
    content: "Private";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 14px;
    height: 14px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/* switch new css end (sahil) */


/* Circluar progress css start (sahil) */

.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #cccccc;
}

.c100 *,
.c100 *:before,
.c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.c100.center {
    float: none;
    margin: 0 auto;
}

.c100.big {
    font-size: 240px;
}

.c100.small {
    font-size: 80px;
}

.c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
    -webkit-transform: rotate(3.6deg);
    -moz-transform: rotate(3.6deg);
    -ms-transform: rotate(3.6deg);
    -o-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.c100.p2 .bar {
    -webkit-transform: rotate(7.2deg);
    -moz-transform: rotate(7.2deg);
    -ms-transform: rotate(7.2deg);
    -o-transform: rotate(7.2deg);
    transform: rotate(7.2deg);
}

.c100.p3 .bar {
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.c100.p4 .bar {
    -webkit-transform: rotate(14.4deg);
    -moz-transform: rotate(14.4deg);
    -ms-transform: rotate(14.4deg);
    -o-transform: rotate(14.4deg);
    transform: rotate(14.4deg);
}

.c100.p5 .bar {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
}

.c100.p6 .bar {
    -webkit-transform: rotate(21.6deg);
    -moz-transform: rotate(21.6deg);
    -ms-transform: rotate(21.6deg);
    -o-transform: rotate(21.6deg);
    transform: rotate(21.6deg);
}

.c100.p7 .bar {
    -webkit-transform: rotate(25.2deg);
    -moz-transform: rotate(25.2deg);
    -ms-transform: rotate(25.2deg);
    -o-transform: rotate(25.2deg);
    transform: rotate(25.2deg);
}

.c100.p8 .bar {
    -webkit-transform: rotate(28.8deg);
    -moz-transform: rotate(28.8deg);
    -ms-transform: rotate(28.8deg);
    -o-transform: rotate(28.8deg);
    transform: rotate(28.8deg);
}

.c100.p9 .bar {
    -webkit-transform: rotate(32.4deg);
    -moz-transform: rotate(32.4deg);
    -ms-transform: rotate(32.4deg);
    -o-transform: rotate(32.4deg);
    transform: rotate(32.4deg);
}

.c100.p10 .bar {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}

.c100.p11 .bar {
    -webkit-transform: rotate(39.6deg);
    -moz-transform: rotate(39.6deg);
    -ms-transform: rotate(39.6deg);
    -o-transform: rotate(39.6deg);
    transform: rotate(39.6deg);
}

.c100.p12 .bar {
    -webkit-transform: rotate(43.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}

.c100.p13 .bar {
    -webkit-transform: rotate(46.800000000000004deg);
    -moz-transform: rotate(46.800000000000004deg);
    -ms-transform: rotate(46.800000000000004deg);
    -o-transform: rotate(46.800000000000004deg);
    transform: rotate(46.800000000000004deg);
}

.c100.p14 .bar {
    -webkit-transform: rotate(50.4deg);
    -moz-transform: rotate(50.4deg);
    -ms-transform: rotate(50.4deg);
    -o-transform: rotate(50.4deg);
    transform: rotate(50.4deg);
}

.c100.p15 .bar {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
}

.c100.p16 .bar {
    -webkit-transform: rotate(57.6deg);
    -moz-transform: rotate(57.6deg);
    -ms-transform: rotate(57.6deg);
    -o-transform: rotate(57.6deg);
    transform: rotate(57.6deg);
}

.c100.p17 .bar {
    -webkit-transform: rotate(61.2deg);
    -moz-transform: rotate(61.2deg);
    -ms-transform: rotate(61.2deg);
    -o-transform: rotate(61.2deg);
    transform: rotate(61.2deg);
}

.c100.p18 .bar {
    -webkit-transform: rotate(64.8deg);
    -moz-transform: rotate(64.8deg);
    -ms-transform: rotate(64.8deg);
    -o-transform: rotate(64.8deg);
    transform: rotate(64.8deg);
}

.c100.p19 .bar {
    -webkit-transform: rotate(68.4deg);
    -moz-transform: rotate(68.4deg);
    -ms-transform: rotate(68.4deg);
    -o-transform: rotate(68.4deg);
    transform: rotate(68.4deg);
}

.c100.p20 .bar {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
}

.c100.p21 .bar {
    -webkit-transform: rotate(75.60000000000001deg);
    -moz-transform: rotate(75.60000000000001deg);
    -ms-transform: rotate(75.60000000000001deg);
    -o-transform: rotate(75.60000000000001deg);
    transform: rotate(75.60000000000001deg);
}

.c100.p22 .bar {
    -webkit-transform: rotate(79.2deg);
    -moz-transform: rotate(79.2deg);
    -ms-transform: rotate(79.2deg);
    -o-transform: rotate(79.2deg);
    transform: rotate(79.2deg);
}

.c100.p23 .bar {
    -webkit-transform: rotate(82.8deg);
    -moz-transform: rotate(82.8deg);
    -ms-transform: rotate(82.8deg);
    -o-transform: rotate(82.8deg);
    transform: rotate(82.8deg);
}

.c100.p24 .bar {
    -webkit-transform: rotate(86.4deg);
    -moz-transform: rotate(86.4deg);
    -ms-transform: rotate(86.4deg);
    -o-transform: rotate(86.4deg);
    transform: rotate(86.4deg);
}

.c100.p25 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.c100.p26 .bar {
    -webkit-transform: rotate(93.60000000000001deg);
    -moz-transform: rotate(93.60000000000001deg);
    -ms-transform: rotate(93.60000000000001deg);
    -o-transform: rotate(93.60000000000001deg);
    transform: rotate(93.60000000000001deg);
}

.c100.p27 .bar {
    -webkit-transform: rotate(97.2deg);
    -moz-transform: rotate(97.2deg);
    -ms-transform: rotate(97.2deg);
    -o-transform: rotate(97.2deg);
    transform: rotate(97.2deg);
}

.c100.p28 .bar {
    -webkit-transform: rotate(100.8deg);
    -moz-transform: rotate(100.8deg);
    -ms-transform: rotate(100.8deg);
    -o-transform: rotate(100.8deg);
    transform: rotate(100.8deg);
}

.c100.p29 .bar {
    -webkit-transform: rotate(104.4deg);
    -moz-transform: rotate(104.4deg);
    -ms-transform: rotate(104.4deg);
    -o-transform: rotate(104.4deg);
    transform: rotate(104.4deg);
}

.c100.p30 .bar {
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
    transform: rotate(108deg);
}

.c100.p31 .bar {
    -webkit-transform: rotate(111.60000000000001deg);
    -moz-transform: rotate(111.60000000000001deg);
    -ms-transform: rotate(111.60000000000001deg);
    -o-transform: rotate(111.60000000000001deg);
    transform: rotate(111.60000000000001deg);
}

.c100.p32 .bar {
    -webkit-transform: rotate(115.2deg);
    -moz-transform: rotate(115.2deg);
    -ms-transform: rotate(115.2deg);
    -o-transform: rotate(115.2deg);
    transform: rotate(115.2deg);
}

.c100.p33 .bar {
    -webkit-transform: rotate(118.8deg);
    -moz-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    -o-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}

.c100.p34 .bar {
    -webkit-transform: rotate(122.4deg);
    -moz-transform: rotate(122.4deg);
    -ms-transform: rotate(122.4deg);
    -o-transform: rotate(122.4deg);
    transform: rotate(122.4deg);
}

.c100.p35 .bar {
    -webkit-transform: rotate(126deg);
    -moz-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
    -o-transform: rotate(126deg);
    transform: rotate(126deg);
}

.c100.p36 .bar {
    -webkit-transform: rotate(129.6deg);
    -moz-transform: rotate(129.6deg);
    -ms-transform: rotate(129.6deg);
    -o-transform: rotate(129.6deg);
    transform: rotate(129.6deg);
}

.c100.p37 .bar {
    -webkit-transform: rotate(133.20000000000002deg);
    -moz-transform: rotate(133.20000000000002deg);
    -ms-transform: rotate(133.20000000000002deg);
    -o-transform: rotate(133.20000000000002deg);
    transform: rotate(133.20000000000002deg);
}

.c100.p38 .bar {
    -webkit-transform: rotate(136.8deg);
    -moz-transform: rotate(136.8deg);
    -ms-transform: rotate(136.8deg);
    -o-transform: rotate(136.8deg);
    transform: rotate(136.8deg);
}

.c100.p39 .bar {
    -webkit-transform: rotate(140.4deg);
    -moz-transform: rotate(140.4deg);
    -ms-transform: rotate(140.4deg);
    -o-transform: rotate(140.4deg);
    transform: rotate(140.4deg);
}

.c100.p40 .bar {
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg);
}

.c100.p41 .bar {
    -webkit-transform: rotate(147.6deg);
    -moz-transform: rotate(147.6deg);
    -ms-transform: rotate(147.6deg);
    -o-transform: rotate(147.6deg);
    transform: rotate(147.6deg);
}

.c100.p42 .bar {
    -webkit-transform: rotate(151.20000000000002deg);
    -moz-transform: rotate(151.20000000000002deg);
    -ms-transform: rotate(151.20000000000002deg);
    -o-transform: rotate(151.20000000000002deg);
    transform: rotate(151.20000000000002deg);
}

.c100.p43 .bar {
    -webkit-transform: rotate(154.8deg);
    -moz-transform: rotate(154.8deg);
    -ms-transform: rotate(154.8deg);
    -o-transform: rotate(154.8deg);
    transform: rotate(154.8deg);
}

.c100.p44 .bar {
    -webkit-transform: rotate(158.4deg);
    -moz-transform: rotate(158.4deg);
    -ms-transform: rotate(158.4deg);
    -o-transform: rotate(158.4deg);
    transform: rotate(158.4deg);
}

.c100.p45 .bar {
    -webkit-transform: rotate(162deg);
    -moz-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
    -o-transform: rotate(162deg);
    transform: rotate(162deg);
}

.c100.p46 .bar {
    -webkit-transform: rotate(165.6deg);
    -moz-transform: rotate(165.6deg);
    -ms-transform: rotate(165.6deg);
    -o-transform: rotate(165.6deg);
    transform: rotate(165.6deg);
}

.c100.p47 .bar {
    -webkit-transform: rotate(169.20000000000002deg);
    -moz-transform: rotate(169.20000000000002deg);
    -ms-transform: rotate(169.20000000000002deg);
    -o-transform: rotate(169.20000000000002deg);
    transform: rotate(169.20000000000002deg);
}

.c100.p48 .bar {
    -webkit-transform: rotate(172.8deg);
    -moz-transform: rotate(172.8deg);
    -ms-transform: rotate(172.8deg);
    -o-transform: rotate(172.8deg);
    transform: rotate(172.8deg);
}

.c100.p49 .bar {
    -webkit-transform: rotate(176.4deg);
    -moz-transform: rotate(176.4deg);
    -ms-transform: rotate(176.4deg);
    -o-transform: rotate(176.4deg);
    transform: rotate(176.4deg);
}

.c100.p50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100.p51 .bar {
    -webkit-transform: rotate(183.6deg);
    -moz-transform: rotate(183.6deg);
    -ms-transform: rotate(183.6deg);
    -o-transform: rotate(183.6deg);
    transform: rotate(183.6deg);
}

.c100.p52 .bar {
    -webkit-transform: rotate(187.20000000000002deg);
    -moz-transform: rotate(187.20000000000002deg);
    -ms-transform: rotate(187.20000000000002deg);
    -o-transform: rotate(187.20000000000002deg);
    transform: rotate(187.20000000000002deg);
}

.c100.p53 .bar {
    -webkit-transform: rotate(190.8deg);
    -moz-transform: rotate(190.8deg);
    -ms-transform: rotate(190.8deg);
    -o-transform: rotate(190.8deg);
    transform: rotate(190.8deg);
}

.c100.p54 .bar {
    -webkit-transform: rotate(194.4deg);
    -moz-transform: rotate(194.4deg);
    -ms-transform: rotate(194.4deg);
    -o-transform: rotate(194.4deg);
    transform: rotate(194.4deg);
}

.c100.p55 .bar {
    -webkit-transform: rotate(198deg);
    -moz-transform: rotate(198deg);
    -ms-transform: rotate(198deg);
    -o-transform: rotate(198deg);
    transform: rotate(198deg);
}

.c100.p56 .bar {
    -webkit-transform: rotate(201.6deg);
    -moz-transform: rotate(201.6deg);
    -ms-transform: rotate(201.6deg);
    -o-transform: rotate(201.6deg);
    transform: rotate(201.6deg);
}

.c100.p57 .bar {
    -webkit-transform: rotate(205.20000000000002deg);
    -moz-transform: rotate(205.20000000000002deg);
    -ms-transform: rotate(205.20000000000002deg);
    -o-transform: rotate(205.20000000000002deg);
    transform: rotate(205.20000000000002deg);
}

.c100.p58 .bar {
    -webkit-transform: rotate(208.8deg);
    -moz-transform: rotate(208.8deg);
    -ms-transform: rotate(208.8deg);
    -o-transform: rotate(208.8deg);
    transform: rotate(208.8deg);
}

.c100.p59 .bar {
    -webkit-transform: rotate(212.4deg);
    -moz-transform: rotate(212.4deg);
    -ms-transform: rotate(212.4deg);
    -o-transform: rotate(212.4deg);
    transform: rotate(212.4deg);
}

.c100.p60 .bar {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg);
}

.c100.p61 .bar {
    -webkit-transform: rotate(219.6deg);
    -moz-transform: rotate(219.6deg);
    -ms-transform: rotate(219.6deg);
    -o-transform: rotate(219.6deg);
    transform: rotate(219.6deg);
}

.c100.p62 .bar {
    -webkit-transform: rotate(223.20000000000002deg);
    -moz-transform: rotate(223.20000000000002deg);
    -ms-transform: rotate(223.20000000000002deg);
    -o-transform: rotate(223.20000000000002deg);
    transform: rotate(223.20000000000002deg);
}

.c100.p63 .bar {
    -webkit-transform: rotate(226.8deg);
    -moz-transform: rotate(226.8deg);
    -ms-transform: rotate(226.8deg);
    -o-transform: rotate(226.8deg);
    transform: rotate(226.8deg);
}

.c100.p64 .bar {
    -webkit-transform: rotate(230.4deg);
    -moz-transform: rotate(230.4deg);
    -ms-transform: rotate(230.4deg);
    -o-transform: rotate(230.4deg);
    transform: rotate(230.4deg);
}

.c100.p65 .bar {
    -webkit-transform: rotate(234deg);
    -moz-transform: rotate(234deg);
    -ms-transform: rotate(234deg);
    -o-transform: rotate(234deg);
    transform: rotate(234deg);
}

.c100.p66 .bar {
    -webkit-transform: rotate(237.6deg);
    -moz-transform: rotate(237.6deg);
    -ms-transform: rotate(237.6deg);
    -o-transform: rotate(237.6deg);
    transform: rotate(237.6deg);
}

.c100.p67 .bar {
    -webkit-transform: rotate(241.20000000000002deg);
    -moz-transform: rotate(241.20000000000002deg);
    -ms-transform: rotate(241.20000000000002deg);
    -o-transform: rotate(241.20000000000002deg);
    transform: rotate(241.20000000000002deg);
}

.c100.p68 .bar {
    -webkit-transform: rotate(244.8deg);
    -moz-transform: rotate(244.8deg);
    -ms-transform: rotate(244.8deg);
    -o-transform: rotate(244.8deg);
    transform: rotate(244.8deg);
}

.c100.p69 .bar {
    -webkit-transform: rotate(248.4deg);
    -moz-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    -o-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}

.c100.p70 .bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg);
}

.c100.p71 .bar {
    -webkit-transform: rotate(255.6deg);
    -moz-transform: rotate(255.6deg);
    -ms-transform: rotate(255.6deg);
    -o-transform: rotate(255.6deg);
    transform: rotate(255.6deg);
}

.c100.p72 .bar {
    -webkit-transform: rotate(259.2deg);
    -moz-transform: rotate(259.2deg);
    -ms-transform: rotate(259.2deg);
    -o-transform: rotate(259.2deg);
    transform: rotate(259.2deg);
}

.c100.p73 .bar {
    -webkit-transform: rotate(262.8deg);
    -moz-transform: rotate(262.8deg);
    -ms-transform: rotate(262.8deg);
    -o-transform: rotate(262.8deg);
    transform: rotate(262.8deg);
}

.c100.p74 .bar {
    -webkit-transform: rotate(266.40000000000003deg);
    -moz-transform: rotate(266.40000000000003deg);
    -ms-transform: rotate(266.40000000000003deg);
    -o-transform: rotate(266.40000000000003deg);
    transform: rotate(266.40000000000003deg);
}

.c100.p75 .bar {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.c100.p76 .bar {
    -webkit-transform: rotate(273.6deg);
    -moz-transform: rotate(273.6deg);
    -ms-transform: rotate(273.6deg);
    -o-transform: rotate(273.6deg);
    transform: rotate(273.6deg);
}

.c100.p77 .bar {
    -webkit-transform: rotate(277.2deg);
    -moz-transform: rotate(277.2deg);
    -ms-transform: rotate(277.2deg);
    -o-transform: rotate(277.2deg);
    transform: rotate(277.2deg);
}

.c100.p78 .bar {
    -webkit-transform: rotate(280.8deg);
    -moz-transform: rotate(280.8deg);
    -ms-transform: rotate(280.8deg);
    -o-transform: rotate(280.8deg);
    transform: rotate(280.8deg);
}

.c100.p79 .bar {
    -webkit-transform: rotate(284.40000000000003deg);
    -moz-transform: rotate(284.40000000000003deg);
    -ms-transform: rotate(284.40000000000003deg);
    -o-transform: rotate(284.40000000000003deg);
    transform: rotate(284.40000000000003deg);
}

.c100.p80 .bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}

.c100.p81 .bar {
    -webkit-transform: rotate(291.6deg);
    -moz-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    -o-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}

.c100.p82 .bar {
    -webkit-transform: rotate(295.2deg);
    -moz-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    -o-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}

.c100.p83 .bar {
    -webkit-transform: rotate(298.8deg);
    -moz-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    -o-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}

.c100.p84 .bar {
    -webkit-transform: rotate(302.40000000000003deg);
    -moz-transform: rotate(302.40000000000003deg);
    -ms-transform: rotate(302.40000000000003deg);
    -o-transform: rotate(302.40000000000003deg);
    transform: rotate(302.40000000000003deg);
}

.c100.p85 .bar {
    -webkit-transform: rotate(306deg);
    -moz-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    -o-transform: rotate(306deg);
    transform: rotate(306deg);
}

.c100.p86 .bar {
    -webkit-transform: rotate(309.6deg);
    -moz-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    -o-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}

.c100.p87 .bar {
    -webkit-transform: rotate(313.2deg);
    -moz-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    -o-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}

.c100.p88 .bar {
    -webkit-transform: rotate(316.8deg);
    -moz-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    -o-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}

.c100.p89 .bar {
    -webkit-transform: rotate(320.40000000000003deg);
    -moz-transform: rotate(320.40000000000003deg);
    -ms-transform: rotate(320.40000000000003deg);
    -o-transform: rotate(320.40000000000003deg);
    transform: rotate(320.40000000000003deg);
}

.c100.p90 .bar {
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    transform: rotate(324deg);
}

.c100.p91 .bar {
    -webkit-transform: rotate(327.6deg);
    -moz-transform: rotate(327.6deg);
    -ms-transform: rotate(327.6deg);
    -o-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
}

.c100.p92 .bar {
    -webkit-transform: rotate(331.2deg);
    -moz-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    -o-transform: rotate(331.2deg);
    transform: rotate(331.2deg);
}

.c100.p93 .bar {
    -webkit-transform: rotate(334.8deg);
    -moz-transform: rotate(334.8deg);
    -ms-transform: rotate(334.8deg);
    -o-transform: rotate(334.8deg);
    transform: rotate(334.8deg);
}

.c100.p94 .bar {
    -webkit-transform: rotate(338.40000000000003deg);
    -moz-transform: rotate(338.40000000000003deg);
    -ms-transform: rotate(338.40000000000003deg);
    -o-transform: rotate(338.40000000000003deg);
    transform: rotate(338.40000000000003deg);
}

.c100.p95 .bar {
    -webkit-transform: rotate(342deg);
    -moz-transform: rotate(342deg);
    -ms-transform: rotate(342deg);
    -o-transform: rotate(342deg);
    transform: rotate(342deg);
}

.c100.p96 .bar {
    -webkit-transform: rotate(345.6deg);
    -moz-transform: rotate(345.6deg);
    -ms-transform: rotate(345.6deg);
    -o-transform: rotate(345.6deg);
    transform: rotate(345.6deg);
}

.c100.p97 .bar {
    -webkit-transform: rotate(349.2deg);
    -moz-transform: rotate(349.2deg);
    -ms-transform: rotate(349.2deg);
    -o-transform: rotate(349.2deg);
    transform: rotate(349.2deg);
}

.c100.p98 .bar {
    -webkit-transform: rotate(352.8deg);
    -moz-transform: rotate(352.8deg);
    -ms-transform: rotate(352.8deg);
    -o-transform: rotate(352.8deg);
    transform: rotate(352.8deg);
}

.c100.p99 .bar {
    -webkit-transform: rotate(356.40000000000003deg);
    -moz-transform: rotate(356.40000000000003deg);
    -ms-transform: rotate(356.40000000000003deg);
    -o-transform: rotate(356.40000000000003deg);
    transform: rotate(356.40000000000003deg);
}

.c100.p100 .bar {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.c100:hover {
    cursor: default;
}

.c100:hover > span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #307bbb;
}

.c100:hover:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}

.c100.dark {
    background-color: #777777;
}

.c100.dark .bar,
.c100.dark .fill {
    border-color: #c6ff00 !important;
}

.c100.dark > span {
    color: #777777;
}

.c100.dark:after {
    background-color: #666666;
}

.c100.dark:hover > span {
    color: #c6ff00;
}

.c100.green .bar,
.c100.green .fill {
    border-color: #4db53c !important;
}

.c100.green:hover > span {
    color: #4db53c;
}

.c100.green.dark .bar,
.c100.green.dark .fill {
    border-color: #5fd400 !important;
}

.c100.green.dark:hover > span {
    color: #5fd400;
}

.c100.orange .bar,
.c100.orange .fill {
    border-color: #dd9d22 !important;
}

.c100.orange:hover > span {
    color: #dd9d22;
}

.c100.orange.dark .bar,
.c100.orange.dark .fill {
    border-color: #e08833 !important;
}

.c100.orange.dark:hover > span {
    color: #e08833;
}

.circluar-progress-outr {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10%;
}

.circluar-progress {
    font-size: 200px;
    background: #fcfcfc;
    display: inline-block;
    margin: 0;
    float: none;
}

.circluar-progress.c100:after {
    font-size: 200px;
    background: #fcfcfc;
}

.c100.circluar-progress .bar,
.c100.circluar-progress .fill {
    border-color: #fb545b;
}

.circluar-progress.c100 > span {
    color: #fb545b;
    font-size: 36px;
    width: 100%;
    height: 100%;
    line-height: 4.8em;
}

.circluar-progress.c100 .steps {
    color: #999999;
    font-size: 13px;
    width: 100%;
    position: absolute;
    top: 54%;
    z-index: 9;
    line-height: 13px;
}

.circluar-progress.c100:hover:after {
    top: 0.08em;
    left: 0.08em;
    width: 0.84em;
    height: 0.84em;
}


/* Circluar progress css end (sahil) */


/* Choose Template css start (sahil) */
/*
.choosetem-topsec {
    margin-top: 72px;
    padding-top: 25px;
    text-align: center;
}

.choosetem-topsec h3 {
    font-size: 18px;
    font-family: montserratregular;
    color: #62696d;
    margin-top: 0px;
}

.choosetem-topsec p {
    color: #666666;
    font-family: montserratlight;
    font-size: 12px;
    line-height: 24px;
    margin: 0 auto;
    width: 65%;
}

.choosetemp-boxes-outr {
    float: left;
    margin-top: 25px;
    min-height: 250px;
    padding: 35px;
    width: 100%;
}

.choosetemp-box2 {
    float: left;
    width: 100%;
    min-height: 339px;
    margin-bottom: 30px;
}

.choosetemp-box-figure2 {
    min-height: 339px;
    padding-left: 0px;
    float: left;
    cursor: pointer;
}

.choosetemp-top1 {
    background-image: url(../images/choose-temp1.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
    overflow: hidden;
}

.choosetemp-top2 {
    background-image: url(../images/choose-temp3.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
}

.choosetemp-top3 {
    background-image: url(../images/choose-temp3.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
}

.choosetemp-top4 {
    background-image: url(../images/choose-temp4.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
}

.choosetemp-top5 {
    background-image: url(../images/choose-temp5.jpg);
    float: left;
    width: 100%;
    min-height: 339px;
}

.choosetemp-actions {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 90%;
}

.choosetemp-actions .btn-red-outline {
    color: #fb545b;
    background-color: #fff;
    border-color: #ffb5b8;
    border-radius: 0;
    font-size: 11px;
    padding: 6px 30px;
    margin: 0px;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
    font-family: montserratregular;
    text-transform: uppercase;
    float: left;
}

.choosetemp-actions .btn-red-outline.hvr-sweep-to-right::before {
    background: #ffb5b8 none repeat scroll 0 0;
    color: #fff !important;
}

.choosetemp-social {
    float: right;
    padding: 0px;
}

.choosetemp-social li {
    float: left;
    width: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.choosetemp-social li a {
    float: left;
    padding: 5px;
    color: #bec5c9;
    line-height: 17px;
}

.choosetemp-social li a:hover {
    color: #fb545b;
}

.choosetemp-social li a i:hover {
    color: #fb545b;
}

.choosetemp-social li a i {
    float: none;
    color: #bec5c9;
    font-size: 18px;
}

.choosetemp-label {
    background: #fb5f66 none repeat scroll 0 0;
    border-radius: 58px;
    color: #fff;
    float: right;
    font-size: 11px;
    font-weight: normal;
    padding: 0 12px;
    text-transform: uppercase;
    width: auto;
    margin-right: 5px;
    margin-top: 7px;
}

.choosetemp-actions h3 {
    color: #62696d;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 20px;
    font-family: montserratregular;
    width: 100%;
    text-transform: uppercase;
}

.choosetemp-actions p {
    color: #62696d;
    float: left;
    font-size: 12px;
    width: 100%;
    font-family: montserratlight;
}
.hs-wrapper{
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
}
.hs-wrapper img{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
.img-block{
    display: block !important;
}
.hs_container{
	position:relative;
	width:100%;
	min-height:339px;
	overflow:hidden;
	clear:both;
	cursor:pointer;
}
.hs_container .hs_area{
	position:absolute;
	overflow:hidden;
}
.hs_area img{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.hs_area img.hs_visible{
	display:block;
	z-index:9;
}
.hs_area1{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}*/

/* Choose Template css end (sahil) */


/*Responsiveness*/

.mobile-menu {
    display: none;
}

.white-logo {
    display: none !important;
}

.company-list,
.name-list {
    width: 100%;
    float: left;
}

@media (max-width: 767px) {
    #new-header .navbar-fixed-top .nav-padding {
        padding-right: 0px;
    }
    .full-menu,
    .dash-circle,
    .dash-prog-outer h2 {
        display: none;
    }
    .main-logo {
        display: none !important;
    }
    .mobile-menu {
        display: block;
        float: right;
        margin-top: 9px;
        position: relative;
    }
    #new-header .navbar-default {
        background: #fb5f66 !important;
            border: none;
    }
    .mobile-menu button {
        border: none;
        box-shadow: none;
        color: #fff;
        background: none;
    }
    .mobile-menu .btn-default:hover {
        color: #fff;
        background: none;
    }
    .dash-boxes-outr {
        padding: 0px;
    }
    .mobile-dash {
        padding: 0px;
    }
    .dash-box2 figure {
        width: 100%;
    }
    .mobile-menu .dropdown-menu {
        background: #62696d;
        top: -11px;
        border-radius: 0px;
        left: -176px;
        width: 235px;
        font-family: montserratlight;
        padding-bottom: 55px;
    }
    .mobile-menu .name-dropdown-border {
        width: 100%;
        margin: 5px 0px;
    }
    .mobile-menu .user-outr {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0px;
        display: block;
    }
    .mobile-menu .user-outr li {
        float: right;
        font-size: 24px;
        font-family: montserratlight;
        color: #fff;
        margin-right: 24px;
        /* margin: 10px 19px; */
        margin-top: 8px;
        margin-bottom: 6px;
    }
    .mobile-menu .user-outr li a {
        margin-right: 30px;
    }
    .mobile-menu .company-list li,
    .mobile-menu .name-list li {
        margin: 10px 0px;
        text-align: right;
        font-size: 16px;
        width: 100%;
        float: left;
        padding-right: 20px;
    }
    .mobile-menu .company-list li a,
    .mobile-menu .name-list li a {
        float: right;
        color: #fff;
    }
    .mobile-menu .company-list li a i {
        margin-right: 20px;
        float: left;
    }
    .mobile-menu .name-list li a i {
        margin-left: 20px;
        float: right;
    }
    .mobile-menu .company-list-title {
        float: left;
        color: #fff;
    }
    .white-logo {
        display: block !important;
    }
    .dash-prog-outer {
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dash-prog-outer h5 {
        font-size: 24px;
        text-align: center;
        width: 100%;
        margin-bottom: 1px;
    }
    .dash-prog-outer .company-dropdown-wrapper {
        min-height: 35px;
        width: 100%;
        text-align: center;
    }
    .company-dropdown-wrapper button.btn.btn-default.dropdown-toggle {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    #new-header .navbar-header {
        float: left;
        margin-left: 0px;
        margin-right: 0px !important;
    }
    #new-header .navbar-logopadding {
        padding-right: 0px;
        padding-top: 0px;
    }
    .circle-sec {
        float: left;
        width: 33%;
        text-align: center;
    }
    .dash-circle-red,
    .dash-circle-pink,
    .dash-circle-d-pink {
        float: none;
        /* margin-right: 20px; */
        margin: 0 auto;
        width: 67px;
        height: 38px;
        padding-top: 13px;
        border: none;
    }
    .dash-circle-red i,
    .dash-circle-pink i,
    .dash-circle-d-pink i {
        font-size: 30px;
    }
    .circle-cal-outer h2 {
        color: #62696d;
        float: left;
        font-family: montserratregular !important;
        font-size: 24px !important;
        margin: 15px 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .circle-cal-outer h5 {
        float: left;
        color: #8e989f;
        font-size: 10px;
        font-family: montserratregular;
        text-transform: uppercase;
        margin-top: 0;
        width: 100%;
    }
    .circle-cal-outer {
        float: left;
        width: 100%;
    }
    .user-outr {
        float: none;
        width: 130px;
        padding: 0;
        margin: 0 auto;
        margin-top: 30px;
    }
    .dash-top2-textinner h3 {
        font-size: 20px;
        margin-top: 5px;
    }
    .dash-top2-textinner .company-dropdown-wrapper .dropdown-toggle span {
        width: auto !important;
        font-size: 14px;
    }
    .user-outr li a img {
        width: 44px;
        height: 44px;
    }
    .user-outr {
        display: none;
        float: none;
        width: 160px;
        margin-top: 30px;
    }
    .dash-top2-textinner .company-dropdown-wrapper {
        float: left;
        margin: 0;
        width: 100%;
    }
    .dash-top2-textinner .company-dropdown-wrapper button.btn.btn-default.dropdown-toggle {
        float: left;
        text-align: left;
    }
    #new-header .navbar-default {
        height: 56px;
    }
    .white-logo .navbar-brand img {
        height: 53px;
        margin-top: -20px;
        margin: 0 auto;
        margin-top: -20px;
    }
    .white-logo .navbar-brand {
        float: none;
    }
    .dashboard-topsec {
        padding: 0px;
        padding-top: 20px;
        margin-top: 62px;
    }
    .circle-parent {
        padding-bottom: 20px;
    }
    .user-outr li a.add-user {
        width: 45px;
        height: 45px;
        padding-top: 9px;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-toggle i {
        top: -30px;
        left: 17px;
        font-size: 34px;
        position: relative;
        color: #f87b80;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a .company-title {
        font-size: 16px;
    }
    .company-dropdown-wrapper .dropdown-menu > li > a .company-site {
        width: 91%;
        font-size: 14px;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-menu >li > a .company-block-inner {
        width: 35px;
        height: 35px;
        padding-top: 8px;
        font-size: 14px;
        top: 13px;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a.add-new-company {
        font-size: 14px;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-menu > li > a i.material-icons {
        font-size: 24px;
    }
    .company-block-content {
        margin-left: 50px;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-menu {
        left: 42px;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-menu::before {
        right: 34px;
    }
    .dash-prog-outer .company-dropdown-wrapper .dropdown-menu {
        top: 8px;
        left: -8px;
    }
    .choosetem-topsec p {
        font-size: 14px;
        width: 100%;
    }
    .choosetem-topsec h3 {
        font-size: 20px;
    }
    .choosetemp-social li {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .choosetemp-actions {
        margin-top: 10px;
        width: 100%;
    }

    .choosetemp-boxes-outr {
    padding: 0px;
}
.choosetemp-box-figure2 {
    padding: 0px;
    }
}
